article.breweries
	include ../../headline.jade
	case mode
		when 'list'
			section.the-content
				include ../gridList.jade
		when 'edit'
			section.the-content
				include edit.jade
		when 'new'
			section.the-content
				include edit.jade
		default
			include single.jade