.the-list
	h2 Beers
	.inner-wrapper
		if item.beers.length > 0
			ul.search-grid-results
				each result in item.beers
					li
						include ../beers/gridItem.jade
		else
			p #{item.name.charAt(0).toUpperCase()}#{item.name.slice(1)} has not added any beers.
.the-list
	h2 Brewers
	.inner-wrapper
		if item.members.length > 0
			ul.search-grid-results
				each result in item.members
					li
						include ../users/gridItem.jade
		else
			p #{item.name.charAt(0).toUpperCase()}#{item.name.slice(1)} has no registered brewers.