.grid-item
	a.content(href='others/#{result.otherId}')
		.top-circle
			span(class='minibubble' style="background:cherry;")
			img(src='images/fermentable-large.png', width='50', height='50', alt='Malt')
		h3 #{result.name}
		.type Other