.listItem-list {
	list-style: none;
	padding: 0;
	margin: 0;
	margin-bottom: 15px;
	border: 1px solid rgba(0,0,0,0.03);

	li {
		padding: 0;
		margin: 0;
		.list-item {
			background: rgba(255, 255, 255, 0.2);
		}
	}
	li:nth-child(even) {
		.list-item {
			background: rgba(0, 0, 0, 0.05);
		}
	}

	&.edit {
		.meta {
			width: auto;
		}
		.amount {
			width: auto;
		}

	}
}

.list-item {
	width: 100%;
	@extend .cf;
	padding: 0 10px;
	line-height: 50px;
	//background:rgba(#{convert(result.lovibond, 'lovibond', 'rgb')},0.3);
	margin: 0;
	position: relative;

	input,input.name,input.amount {
		background: rgba(255,255,255,0.6);
		border: 1px solid rgba(0,0,0,0.1);
		height: 30px;
		line-height: 30px;
		text-align: center;

		&:hover, &:active, &:focus {
			cursor: pointer;
			background: rgba(255,255,255,1);
			border-color: rgba(0,0,0,0.2);
		}
	}

	select {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;

		border-radius: 0;
		height: 34px;
		margin-top: -1px;
		line-height: 30px;
		padding-left: 5px;
		padding-right: 15px;
		background: transparent;
		border: 1px solid transparent;
		position: relative;

		&:hover {
			cursor: pointer;
			background: rgba(0,0,0,0.1);
			//border-color: rgba(0,0,0,0.2);
		}

		&:after {
			position: absolute;
			right: 10px;
			top: 15px;
			width: 2000px; 
			height: 1000px;
			background: red;
			z-index: 3000; 
			border-left: 6px solid transparent;
			border-right: 6px solid transparent;
			
			border-top: 8px solid #666;
			content: '';
		}
	}
	select::-ms-expand { /* for IE 11 */
		display: none;
	}

	.ba,.aa {
		width: 60px;
		text-align:right;
	}

	.name {
		display:inline-block;
		padding: 0;
		margin: 0;
		margin-right: 20px;
		line-height:50px;
		font-size: 120%;
		font-weight: normal;
	}

	.amount {
		display: inline-block;
		width: 120px;
		margin-right: 20px;
		font-size: 110%;

		input[type="text"] {
			width: 40px;
		}
	}

	.lovibond {
		width: 35px;
	}
	.gp {
		text-align:right;
		margin-right: 0;
		width: 100px;
	}
	.ppg {
		width: 45px;
	}

	.span {
		display: inline-block;
		line-height:50px;
	}
	.meta-wrapper {
		float:right;
	}

	.meta {
		margin-right: 20px;
		display: inline-block;

		input[type="text"] {
			width: 20px;
		}
	}

	.left-circle {
		display: inline-block;
		height: 30px;
		width: 25px;
		margin-right: 20px;
		position: relative;
		vertical-align: middle;
		text-align: center;
	}

	.minibubble {
		position: absolute;
		top: 50%;
		left: 0;
		margin-top: -13px;

		width:24px;
		height:24px;
		padding:0;
		border-radius:50%;
		border:1px solid rgba(0,0,0,0.2);
	}
}