h1 + .sub-nav {
	margin-top: -25px;
}

.sub-nav {
	height: 50px;
	text-align:center;
	margin-bottom: 25px;

	ul {
		padding: 0;
		margin: 0;
		display: inline-block;
		list-style: none;
		border-radius: 5px;
	}

	li {
		padding: 0;
		margin: 0;
		display: block;
		float:left;

		&:first-child {
			a {
				border-top-left-radius: 5px;
				border-bottom-left-radius: 5px;
			}
		}
		&:last-child {
			a {
				border-top-right-radius: 5px;
				border-bottom-right-radius: 5px;
			}
		}

		a {
			box-sizing: border-box;
			border: 1px solid #ccc;
			margin:0;
			margin-left: -1px;
			display: block;
			color: #333;
			padding: 0 10px;
			line-height: 50px;

			&.active, &:hover {
				color: white;
				background: #333;
			}
		}

	}
	.search-box {
		input {
			// @include transition(width 0.2s);
			display: inline-block;
			width:70px;
			height: 100%;
			line-height:50px;
			font-size:15px;
			padding:0 10px;
			border: 1px solid #ccc;
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px;

			&:focus {
				width: 300px;
			}
		}
	}
}