h1 + .sub-nav {
	margin-top: -25px;
}

.sub-nav {
	height: 70px;
	text-align:center;
	margin-bottom: 0px;

	ul {
		padding: 0;
		margin: 0;
		display: inline-block;
		list-style: none;
		border-radius: 5px;
	}

	li {
		padding: 0;
		margin: 0;
		display: inline-block;


		a {
			box-sizing: border-box;
			color: $link-color;
			padding: 0 10px;
			line-height: 70px;
			display: block;
			height: 100%;
			font-size: 130%;

			&.active, &:hover {
				color: #333;
				border-bottom: 4px solid rgba(0,0,0,0.5);
			}
		}

	}
	.search-box {
		input {
			// @include transition(width 0.2s);
			display: inline-block;
			width:150px;
			height: 70%;
			line-height:35px;
			font-size:15px;
			padding:0 10px;
			border: 1px solid #ccc;

			&:focus {
				width: 300px;
			}
		}
	}
}