$grid-width: 100%;
$number-of-columns: 12;
$default-grid-gutter: 25px;
@import "../../bower_components/lattice/scss/grid";
@import "mixins";
@import "grid";
@import "fonts";
$normal-font-size: 15px;
$link-color: #00ABD6;
$strong-brand-color: #CC2F2F;

html {
	margin:0;
	font-family: Source Sans Pro;
	line-height: 1.4;
	font-size: $normal-font-size;
}

a {
	text-decoration: none;
	color: $link-color;
}

body {
	margin: 0;
	color: #333;
	background: #fbfbfb;
}

h2 {
	text-align:center;
	font-weight: normal;
	font-size: 160%;
}

.the-content {
	padding: 25px 0;
	background: #efefef;
	border-top: 1px solid #ccc;
}

.sub-nav + .the-content {
	border-top-width: 4px;
}

.center {
	text-align:center;
	margin: 0 auto;
}

.inner-wrapper {
	max-width: 1000px;
	margin: 0 auto;
}

.subnavItem {
	&:target {
		color: black;
	}
}

.subSection {
	display: none;

	&:target {
		display: block;
	}
}

.notes.text {
	border: none;
	background: none;

	.inner-wrapper {
		p {
			width: 90%;
			padding: 0 25px;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 25px;
			
		}
		margin-bottom: 25px;
	}
}

@import "spinner";
@import "metabubble";

@import "buttons";

@import "navigation";
@import "subnav";

@import "search";
@import "recipe";

@import "headline";

@import "gridItem";
@import "listItem";
@import "minidisplay";

@import "frontpage";
@import "login";

@import "footer";