article.frontpage
	header
		.header-content-wrapper
			
			if !user
				h1 Welcome to the alpha
				.subheader
					| Already have an account?
				a.call-to-action.create(href='/login') LOGIN
			else
				h1 Welcome back, #{user.username}!
				.subheader
				a.call-to-action.create(href='/beers/add') CREATE NEW RECIPE
	section.the-content
		section.inner-wrapper
			.third
				h3 Customisability
				p Set your account to use imperial or metric values and the beer formulas you prefer. The whole site will adapt.
			.third
				h3 Clones
				p Find or add recipes for commercial beer through the clone button, or tweak existing recipes through the fork button. It's never been easier to find and tweak beer recipes.

			.third
				h3 Homebreweries
				p Create your own home brewery and create recipes with your friends.

	section.huge-call-to-action
		h2 Stay tuned for the open beta
