.grid-item
	a.content(href='origins/#{result.originId}')
		span(class='minibubble' style="background: url('#{country.getImageByName(result.name)}') center center;background-size: 152%;")
		h3 #{result.name}
		.type Origins