@font-face {
  font-family: 'Kingthings Petrock';
  src: url("../fonts/Kingthings_Petrock-webfont.eot");
  src: url("../fonts/Kingthings_Petrock-webfont.eot?iefix") format("eot"), url("../fonts/Kingthings_Petrock-webfont.woff") format("woff"), url("../fonts/Kingthings_Petrock-webfont.ttf") format("truetype"), url("../fonts/Kingthings_Petrock-webfont.svg#webfont") format("svg");
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/SourceSansPro-Regular-webfont.eot");
  src: url("../fonts/SourceSansPro-Regular-webfont.eot?iefix") format("eot"), url("../fonts/SourceSansPro-Regular-webfont.woff") format("woff"), url("../fonts/SourceSansPro-Regular-webfont.ttf") format("truetype"), url("../fonts/SourceSansPro-Regular-webfont.svg#webfont") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/SourceSansPro-Bold-webfont.eot");
  src: url("../fonts/SourceSansPro-Bold-webfont.eot?iefix") format("eot"), url("../fonts/SourceSansPro-Bold-webfont.woff") format("woff"), url("../fonts/SourceSansPro-Bold-webfont.ttf") format("truetype"), url("../fonts/SourceSansPro-Bold-webfont.svg#webfont") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/SourceSansPro-Light-webfont.eot");
  src: url("../fonts/SourceSansPro-Light-webfont.eot?iefix") format("eot"), url("../fonts/SourceSansPro-Light-webfont.woff") format("woff"), url("../fonts/SourceSansPro-Light-webfont.ttf") format("truetype"), url("../fonts/SourceSansPro-Light-webfont.svg#webfont") format("svg");
  font-weight: 100;
  font-style: normal;
}
/* line 4, ../../app/sass/main.scss */
.cf, .the-content, .main, .inner-wrapper, .description, .footer-content, #notifications li, .ui-select-choices, #main-navigation ul, .search-grid-results, .single-hop .substitutes, .single-yeast .substitutes, .brewery .members, .brewery .beers, .step-wrapper, .steps {
  *zoom: 1;
}
/* line 7, ../../app/sass/main.scss */
.cf:before, .the-content:before, .main:before, .inner-wrapper:before, .description:before, .footer-content:before, #notifications li:before, .ui-select-choices:before, #main-navigation ul:before, .search-grid-results:before, .single-hop .substitutes:before, .single-yeast .substitutes:before, .brewery .members:before, .brewery .beers:before, .step-wrapper:before, .steps:before, .cf:after, .the-content:after, .main:after, .inner-wrapper:after, .description:after, .footer-content:after, #notifications li:after, .ui-select-choices:after, #main-navigation ul:after, .search-grid-results:after, .single-hop .substitutes:after, .single-yeast .substitutes:after, .brewery .members:after, .brewery .beers:after, .step-wrapper:after, .steps:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
/* line 11, ../../app/sass/main.scss */
.cf:after, .the-content:after, .main:after, .inner-wrapper:after, .description:after, .footer-content:after, #notifications li:after, .ui-select-choices:after, #main-navigation ul:after, .search-grid-results:after, .single-hop .substitutes:after, .single-yeast .substitutes:after, .brewery .members:after, .brewery .beers:after, .step-wrapper:after, .steps:after {
  clear: both;
}

/* line 16, ../../app/sass/main.scss */
.no-margin {
  margin: 0 !important;
}

/* line 19, ../../app/sass/main.scss */
.no-padding {
  padding: 0 !important;
}

/* line 41, ../../app/sass/main.scss */
div, article, section, footer, header {
  box-sizing: border-box;
}

/* line 45, ../../app/sass/main.scss */
html {
  margin: 0;
  font-family: Source Sans Pro;
  line-height: 1.4;
  font-size: 15px;
}

/* line 52, ../../app/sass/main.scss */
body {
  background: white;
  margin: 0;
}
/* line 56, ../../app/sass/main.scss */
body .modal {
  overflow: hidden;
}

/* line 61, ../../app/sass/main.scss */
h1 {
  margin-top: 10px;
  text-transform: capitalize;
  font-size: 50px;
  font-weight: normal;
  text-align: center;
}

/* line 69, ../../app/sass/main.scss */
h2 {
  text-align: center;
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 25px;
}

/* line 76, ../../app/sass/main.scss */
a {
  color: #00ABD6;
  text-decoration: none;
}

/* line 81, ../../app/sass/main.scss */
.header-bubble .colour-box .gravity, #main-navigation {
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
}

/* line 85, ../../app/sass/main.scss */
.center {
  margin: 0 auto;
  text-align: center;
}

/* line 90, ../../app/sass/main.scss */
.half {
  box-sizing: border-box;
  float: left;
  padding: 25px;
  width: 47.91667%;
}
/* line 92, ../../app/sass/main.scss */
.half:nth-child(odd) {
  margin-right: 4.16667%;
}

/* line 97, ../../app/sass/main.scss */
.bubble-wrapper {
  text-align: center;
}

/* line 101, ../../app/sass/main.scss */
.bubble {
  display: inline-block;
}
/* line 103, ../../app/sass/main.scss */
.bubble + .bubble {
  margin-left: 25px;
}

/* line 108, ../../app/sass/main.scss */
.info-bubble-label {
  line-height: 40px;
  font-size: 20px;
  display: block;
  text-align: center;
}

/* line 115, ../../app/sass/main.scss */
.info-bubble {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 25px;
  background: #CD2729;
  color: white;
  border-radius: 50%;
}

/* line 128, ../../app/sass/main.scss */
.right {
  float: right !important;
}

/* line 130, ../../app/sass/main.scss */
.fullscreenLoading {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  z-index: 100;
  position: relative;
  color: white;
  line-height: 100%;
}
/* line 143, ../../app/sass/main.scss */
.fullscreenLoading .inner {
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
  position: absolute;
  left: 50%;
  top: 50%;
}

/* line 159, ../../app/sass/main.scss */
h2:first-child {
  margin: 25px;
}

/* line 163, ../../app/sass/main.scss */
.content {
  padding: 25px 0;
  background: #eee;
  border-top: 1px solid #ddd;
}

/* line 169, ../../app/sass/main.scss */
h1 + .subheader {
  margin-top: -35px;
  margin-bottom: 25px;
}

/* line 173, ../../app/sass/main.scss */
.subheader {
  text-align: center;
  color: #444;
  font-size: 25px;
}

/* line 179, ../../app/sass/main.scss */
.description {
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 25px !important;
  margin-bottom: 50px !important;
}

/* line 189, ../../app/sass/main.scss */
.main {
  border-bottom: 1px solid #ccc;
  position: relative;
  z-index: 3;
  background: #FBFBFB;
  width: 100%;
}

/* line 201, ../../app/sass/main.scss */
.inner-wrapper, .description, .footer-content {
  box-sizing: border-box;
  padding: 0;
  width: 100%;
  max-width: 1000px;
  width: 100%;
  margin: 25px auto;
  clear: both;
}

@media only screen and (max-width: 760px), (min-device-width: 200px) and (max-device-width: 1024px) {
  /* line 211, ../../app/sass/main.scss */
  .inner-wrapper, .description, .footer-content {
    width: 100%;
    padding: 0 25px;
    height: auto;
    margin: 25px auto;
  }
}
/* line 219, ../../app/sass/main.scss */
#notifications {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 100;
}
/* line 233, ../../app/sass/main.scss */
#notifications .button {
  float: right;
  background: rgba(0, 0, 0, 0.3);
  padding: 10px 15px;
  margin-left: 10px;
}
/* line 239, ../../app/sass/main.scss */
#notifications .button:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.5);
}
/* line 245, ../../app/sass/main.scss */
#notifications li {
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #ccc;
  color: #333;
  padding: 15px 25px;
  margin-bottom: 5px;
}
/* line 255, ../../app/sass/main.scss */
#notifications li:hover {
  cursor: pointer;
}

/* line 264, ../../app/sass/main.scss */
.save {
  background: #CC2F2F;
  padding: 0 25px;
  font-size: 25px;
  color: white;
  line-height: 50px;
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 75px;
  text-transform: uppercase;
  font-weight: 100;
  border: 0;
}

/* line 278, ../../app/sass/main.scss */
.header-bubble {
  margin-top: 35px;
  position: relative;
  margin-bottom: 0;
}
/* line 284, ../../app/sass/main.scss */
.header-bubble:before {
  position: absolute;
  height: 1px;
  top: 50%;
  left: 0;
  width: 100%;
  border-top: 1px solid #ccc;
  content: "";
}
/* line 293, ../../app/sass/main.scss */
.header-bubble .icon {
  width: 98px;
  height: 78px;
  margin: 0 auto;
  position: relative;
  z-index: 10;
  background: #FBFBFB;
}
/* line 302, ../../app/sass/main.scss */
.header-bubble .colour-box {
  left: 10px;
  position: absolute;
}
/* line 309, ../../app/sass/main.scss */
.header-bubble img {
  left: 10px;
  position: absolute;
  z-index: 2;
}

/* line 316, ../../app/sass/main.scss */
.the-content {
  background: #eee;
  border-top: 1px solid #ccc;
}
/* line 320, ../../app/sass/main.scss */
.the-content:before {
  border-top: 1px solid white;
  display: block;
  width: 100%;
  height: 1px;
  content: '';
}

/* line 330, ../../app/sass/main.scss */
.pre-beta-frontpage {
  background: url("../images/background.jpg");
  background-size: cover;
}
/* line 334, ../../app/sass/main.scss */
.pre-beta-frontpage .frontpage-alpha-wrapper {
  position: absolute;
  right: 50px;
  bottom: 50px;
}
/* line 340, ../../app/sass/main.scss */
.pre-beta-frontpage header {
  text-align: right !important;
  color: white !important;
}
/* line 343, ../../app/sass/main.scss */
.pre-beta-frontpage header h1 {
  text-align: right;
}
/* line 346, ../../app/sass/main.scss */
.pre-beta-frontpage header .subheader {
  text-align: right;
  color: white !important;
}
/* line 351, ../../app/sass/main.scss */
.pre-beta-frontpage .login-form {
  text-align: right;
  padding: 0 !important;
  background: none !important;
  color: white !important;
}
/* line 357, ../../app/sass/main.scss */
.pre-beta-frontpage .login-form .submit {
  float: right !important;
  clear: both;
  margin: 0 auto !important;
}
/* line 363, ../../app/sass/main.scss */
.pre-beta-frontpage .login-form #username, .pre-beta-frontpage .login-form #password {
  float: right;
  clear: both;
}
/* line 370, ../../app/sass/main.scss */
.pre-beta-frontpage .login label, .pre-beta-frontpage .login #remember {
  display: none;
}

/* line 1, ../../app/sass/_ui-select.scss */
.beerstyle {
  width: 60%;
  margin: 15px auto 25px auto;
  position: relative;
}
/* line 6, ../../app/sass/_ui-select.scss */
.beerstyle .ui-select-search {
  text-align: center !important;
  box-sizing: border-box;
  width: 100% !important;
}
/* line 12, ../../app/sass/_ui-select.scss */
.beerstyle .ui-select-toggle {
  display: block;
  width: 100%;
  text-align: center;
  border: 1px solid #ccc;
  position: relative;
  font-size: 25px;
  color: #444;
}
/* line 20, ../../app/sass/_ui-select.scss */
.beerstyle .ui-select-toggle:hover {
  background: #eee;
  cursor: pointer;
}
/* line 25, ../../app/sass/_ui-select.scss */
.beerstyle .ui-select-toggle:after {
  position: absolute;
  right: 10px;
  top: 15px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 8px solid #666;
  content: '';
}

/* Style when highlighting a search. */
/* line 42, ../../app/sass/_ui-select.scss */
.ui-select-highlight {
  font-weight: bold;
}

/* line 46, ../../app/sass/_ui-select.scss */
.ui-select-offscreen {
  clip: rect(0 0 0 0) !important;
  width: 1px !important;
  height: 1px !important;
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  position: absolute !important;
  outline: 0 !important;
  left: 0px !important;
  top: 0px !important;
}

/* line 60, ../../app/sass/_ui-select.scss */
.dropdown-header {
  font-size: 15px;
  color: #666;
  font-weight: bold;
  text-transform: uppercase;
  background: #eee;
  padding: 10px 0;
  padding-left: 10px;
  margin: 0;
}

/* line 71, ../../app/sass/_ui-select.scss */
.ui-select-choices {
  border: 1px solid #ccc;
  position: absolute;
  z-index: 100;
  left: 0;
  right: 0;
  background: white;
  width: inherit;
  height: 300px;
  overflow: auto;
}

/* line 85, ../../app/sass/_ui-select.scss */
.ui-select-choices-row-inner {
  display: block;
  font-size: 15px;
  color: #333;
  padding: 10px;
  border-top: 1px solid #eee;
}
/* line 92, ../../app/sass/_ui-select.scss */
.ui-select-choices-row-inner:hover {
  background: #eee;
  cursor: pointer;
}

/* line 98, ../../app/sass/_ui-select.scss */
.btn-default-focus {
  display: block;
}

/* line 102, ../../app/sass/_ui-select.scss */
.ui-select-search {
  text-align: left !important;
  display: block !important;
  box-sizing: border-box;
  width: 100% !important;
  padding-left: 10px;
  margin-bottom: 0px;
}

/* line 111, ../../app/sass/_ui-select.scss */
.ui-select-toggle {
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background: rgba(255, 255, 255, 0.3);
  text-align: left;
  border: 0;
  padding-left: 10px;
  position: relative;
}
/* line 121, ../../app/sass/_ui-select.scss */
.ui-select-toggle:hover {
  background: #eee;
  cursor: pointer;
}
/* line 126, ../../app/sass/_ui-select.scss */
.ui-select-toggle:after {
  position: absolute;
  right: 10px;
  top: 15px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 8px solid #666;
  content: '';
}

/* line 1, ../../app/sass/_buttons.scss */
button {
  transition: 0.5s;
}

/* line 5, ../../app/sass/_buttons.scss */
button.submit {
  display: block;
  padding: 15px 25px;
  margin: 0 auto;
  height: 50px;
  font-size: 15px;
  line-height: 25px;
  background: #CD2729;
  color: white;
  border: 0;
}
/* line 16, ../../app/sass/_buttons.scss */
button.submit:hover {
  cursor: pointer;
  background: #8F1B1C;
}
/* line 21, ../../app/sass/_buttons.scss */
button.submit.disabled {
  background: #ccc;
  color: #666;
}
/* line 24, ../../app/sass/_buttons.scss */
button.submit.disabled:hover {
  background: #ccc;
  color: #666;
}

/* line 32, ../../app/sass/_buttons.scss */
button.loading, .ng-submitted button.submit {
  background: #ccc;
  border: #aaa;
  color: #666;
  position: relative;
  padding-right: 50px;
}
/* line 39, ../../app/sass/_buttons.scss */
button.loading:hover, .ng-submitted button.submit:hover {
  background: #ccc;
  color: #666;
  cursor: default;
}
/* line 45, ../../app/sass/_buttons.scss */
button.loading:after, .ng-submitted button.submit:after {
  border-top-color: #666 !important;
  border-left-color: #666 !important;
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -7px;
  right: 25px;
}

/* line 59, ../../app/sass/_buttons.scss */
.success {
  background: #7AB95B !important;
  border: #7AB95B !important;
}
/* line 63, ../../app/sass/_buttons.scss */
.success:hover {
  background: #54853B !important;
  border: #54853B !important;
}

/* line 69, ../../app/sass/_buttons.scss */
.warning {
  background: #E2AE49 !important;
  border: #E2AE49 !important;
  color: white !important;
}
/* line 73, ../../app/sass/_buttons.scss */
.warning:hover {
  background: #E2AE49 !important;
  border: #E2AE49 !important;
}

/* line 79, ../../app/sass/_buttons.scss */
.error, .error.ng-submitted button.submit {
  background: #d9534f !important;
  border: #d9534f !important;
  color: white !important;
}
/* line 84, ../../app/sass/_buttons.scss */
.error:hover, .error.ng-submitted button.submit:hover {
  background: #BC4137 !important;
  border: #BC4137 !important;
}

/* line 91, ../../app/sass/_buttons.scss */
.ng-touched.ng-invalid {
  border: 2px solid #d9534f;
}

/* line 95, ../../app/sass/_buttons.scss */
.ng-invalid button.submit {
  background: #ccc;
  color: #666;
}

/* line 100, ../../app/sass/_buttons.scss */
.form-error {
  padding: 10px;
  text-align: center;
}

/* line 3, ../../app/sass/_frontpage.scss */
.frontpage {
  background: url("../images/background.jpg") top center;
  background-size: cover;
  background-position: bottom right;
}
/* line 8, ../../app/sass/_frontpage.scss */
.frontpage .the-content {
  padding: 50px 0;
  background: rgba(255, 255, 255, 0.9) !important;
  text-align: center;
  border: 0 !important;
}
/* line 12, ../../app/sass/_frontpage.scss */
.frontpage .the-content div {
  color: #333;
  font-size: 130%;
  text-align: justify;
}
/* line 19, ../../app/sass/_frontpage.scss */
.frontpage .the-content:before {
  display: none;
}
/* line 23, ../../app/sass/_frontpage.scss */
.frontpage .huge-call-to-action {
  padding: 200px 0;
  color: white;
}
/* line 28, ../../app/sass/_frontpage.scss */
.frontpage header {
  width: 100%;
  border-bottom: 0;
  padding: 260px 0;
  position: relative;
}
/* line 36, ../../app/sass/_frontpage.scss */
.frontpage header .header-content-wrapper {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
  margin-top: -100px;
}
/* line 46, ../../app/sass/_frontpage.scss */
.frontpage header h1 {
  position: relative;
  z-index: 10;
  color: white;
  text-transform: uppercase;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}
/* line 54, ../../app/sass/_frontpage.scss */
.frontpage header .subheader {
  position: relative;
  z-index: 10;
  color: white;
  opacity: 0.9;
}
/* line 62, ../../app/sass/_frontpage.scss */
.frontpage .call-to-action {
  position: relative;
  z-index: 10;
  width: 250px;
  height: 50px;
  font-size: 25px;
  text-transform: uppercase;
  opacity: 0.9;
  text-align: center;
  line-height: 45px;
}
/* line 73, ../../app/sass/_frontpage.scss */
.frontpage .call-to-action:hover {
  opacity: 1;
}
/* line 77, ../../app/sass/_frontpage.scss */
.frontpage .call-to-action.create {
  color: white;
  display: block;
  margin: 25px auto;
  background: #CC2F2F;
  height: 46px;
  border: 0;
  border-bottom: 4px solid #AD2727;
}
/* line 87, ../../app/sass/_frontpage.scss */
.frontpage .call-to-action.create:hover {
  cursor: pointer;
}
/* line 91, ../../app/sass/_frontpage.scss */
.frontpage .call-to-action.discover {
  background: white;
}
/* line 96, ../../app/sass/_frontpage.scss */
.frontpage .sub-nav {
  position: relative;
  z-index: 2;
  margin-top: -10px;
}
/* line 103, ../../app/sass/_frontpage.scss */
.frontpage .the-content {
  clear: both;
}

@media only screen and (max-width: 760px), (min-device-width: 200px) and (max-device-width: 1024px) {
  /* line 110, ../../app/sass/_frontpage.scss */
  .frontpage header {
    margin-top: 0;
  }
}
/* line 2, ../../app/sass/_single-beer.scss */
#single-beer .beer-meta {
  background: #eee;
  border-top: 1px solid #fff;
  position: relative;
}
/* line 7, ../../app/sass/_single-beer.scss */
#single-beer .beer-meta:before {
  position: absolute;
  top: -2px;
  left: 0;
  right: 0;
  border-top: 1px solid #ddd;
  content: '';
}
/* line 17, ../../app/sass/_single-beer.scss */
#single-beer .abv-wrapper, #single-beer .og-wrapper, #single-beer .fg-wrapper, #single-beer .bitterness-wrapper, #single-beer .colour-wrapper {
  display: inline-block;
  padding: 0 10px;
}
/* line 22, ../../app/sass/_single-beer.scss */
#single-beer .beer-meta-key {
  display: block;
  line-height: 1;
  height: auto;
  text-align: left;
}
/* line 28, ../../app/sass/_single-beer.scss */
#single-beer .beer-meta-value {
  height: auto;
  line-height: 1.1;
  text-align: left;
}
/* line 34, ../../app/sass/_single-beer.scss */
#single-beer .meta-line {
  font-size: 25px;
  padding: 25px 0;
  padding-top: 0;
  border-bottom: 1px solid #ccc;
  text-align: center;
}
/* line 43, ../../app/sass/_single-beer.scss */
#single-beer .actions {
  padding: 25px 0;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

/* line 51, ../../app/sass/_single-beer.scss */
#single-beer .brewers, .add-beer .brewers, .beer .brewers {
  list-style: none;
  line-height: 50px;
  font-size: 25px;
  text-transform: capitalize;
  color: #333;
  text-align: center;
  margin-left: 0;
  margin-top: 0;
  padding: 0;
  padding-bottom: 25px;
  width: 100%;
  border-bottom: 1px solid #ccc;
}
/* line 52, ../../app/sass/_single-beer.scss */
#single-beer .brewers:before, .add-beer .brewers:before, .beer .brewers:before {
  display: block;
  width: 100%;
  opacity: 0.6;
  font-size: 0.6em;
  text-transform: lowercase;
  margin: -15px 0;
  content: "by";
}
/* line 74, ../../app/sass/_single-beer.scss */
#single-beer .brewers li, .add-beer .brewers li, .beer .brewers li {
  display: inline-block;
  padding: 0 25px;
}
/* line 79, ../../app/sass/_single-beer.scss */
#single-beer .brewers img, .add-beer .brewers img, .beer .brewers img {
  vertical-align: middle;
  margin-top: -4px;
}

/* line 1, ../../app/sass/_navigation.scss */
.logo-text {
  font-family: 'Kingthings Petrock';
}

/* line 4, ../../app/sass/_navigation.scss */
#main-navigation {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: rgba(255, 255, 255, 0.6);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
/* line 15, ../../app/sass/_navigation.scss */
#main-navigation .logo-text {
  font-size: 30px;
}
/* line 20, ../../app/sass/_navigation.scss */
#main-navigation ul {
  list-style: none;
  padding: 0;
  text-align: center;
  display: block;
  margin: 0 auto;
}
/* line 28, ../../app/sass/_navigation.scss */
#main-navigation li {
  box-sizing: border-box;
  float: left;
  height: 50px;
  line-height: 50px;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
}
/* line 36, ../../app/sass/_navigation.scss */
#main-navigation li.right {
  float: right;
}
/* line 40, ../../app/sass/_navigation.scss */
#main-navigation li:first-child {
  text-transform: none;
  border-left: none;
}
/* line 45, ../../app/sass/_navigation.scss */
#main-navigation li.search {
  padding: 0 15px;
}
/* line 49, ../../app/sass/_navigation.scss */
#main-navigation a {
  display: block;
  height: 100%;
  color: #333;
  padding: 0 20px;
}
/* line 55, ../../app/sass/_navigation.scss */
#main-navigation a:hover {
  color: #fff;
  background: #333;
}
/* line 59, ../../app/sass/_navigation.scss */
#main-navigation a:active {
  color: #fff;
  background: #555;
}
/* line 63, ../../app/sass/_navigation.scss */
#main-navigation a.active {
  color: white;
  background: #333;
}

/* line 70, ../../app/sass/_navigation.scss */
h1 + .sub-nav {
  margin-top: -25px;
}

/* line 74, ../../app/sass/_navigation.scss */
.sub-nav {
  height: 50px;
  text-align: center;
  margin-bottom: 25px;
}
/* line 79, ../../app/sass/_navigation.scss */
.sub-nav ul {
  padding: 0;
  margin: 0;
  display: inline-block;
  list-style: none;
  border-radius: 5px;
}
/* line 87, ../../app/sass/_navigation.scss */
.sub-nav li {
  padding: 0;
  margin: 0;
  display: block;
  float: left;
}
/* line 94, ../../app/sass/_navigation.scss */
.sub-nav li:first-child a {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
/* line 100, ../../app/sass/_navigation.scss */
.sub-nav li:last-child a {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* line 106, ../../app/sass/_navigation.scss */
.sub-nav li a {
  box-sizing: border-box;
  border: 1px solid #ccc;
  margin: 0;
  margin-left: -1px;
  display: block;
  color: #333;
  padding: 0 10px;
  line-height: 50px;
}
/* line 116, ../../app/sass/_navigation.scss */
.sub-nav li a.active, .sub-nav li a:hover {
  color: white;
  background: #333;
}
/* line 124, ../../app/sass/_navigation.scss */
.sub-nav .search-box input {
  -moz-transition: width 0.2s;
  -o-transition: width 0.2s;
  -webkit-transition: width 0.2s;
  transition: width 0.2s;
  display: inline-block;
  width: 70px;
  height: 100%;
  line-height: 50px;
  font-size: 15px;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* line 136, ../../app/sass/_navigation.scss */
.sub-nav .search-box input:focus {
  width: 300px;
}

@media only screen and (max-width: 760px), (min-device-width: 200px) and (max-device-width: 1024px) {
  /* line 144, ../../app/sass/_navigation.scss */
  #main-navigation {
    width: 100%;
    height: auto;
  }
  /* line 147, ../../app/sass/_navigation.scss */
  #main-navigation ul {
    display: block;
  }
  /* line 150, ../../app/sass/_navigation.scss */
  #main-navigation li {
    width: 50%;
    float: left !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
}
/* line 1, ../../app/sass/_footer.scss */
#main-footer {
  width: 100%;
  background: white;
  color: #333;
  bottom: 0;
}
/* line 8, ../../app/sass/_footer.scss */
#main-footer .footer-inner-wrapper {
  margin-bottom: 0;
}
/* line 12, ../../app/sass/_footer.scss */
#main-footer .logo-text {
  font-family: 'Kingthings Petrock';
  font-size: 30px;
}

/* line 19, ../../app/sass/_footer.scss */
.logo-circle {
  width: 50px;
  height: 50px;
  display: block;
  background: white;
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
  font-size: 30px;
  font-family: 'Kingthings Petrock';
  color: #333;
  margin: 0 auto;
  -moz-transition: background 0.5s, color 0.2s;
  -o-transition: background 0.5s, color 0.2s;
  -webkit-transition: background 0.5s, color 0.2s;
  transition: background 0.5s, color 0.2s;
}
/* line 34, ../../app/sass/_footer.scss */
.logo-circle:hover {
  background: #00ABD6;
  color: white;
}
/* line 38, ../../app/sass/_footer.scss */
.logo-circle:active {
  margin-top: 1px;
}

/* line 43, ../../app/sass/_footer.scss */
.footer-content {
  margin-top: 0;
  margin-bottom: 0;
  padding: 50px 0;
  text-align: center;
}
/* line 50, ../../app/sass/_footer.scss */
.footer-content ul, .footer-content li {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 55, ../../app/sass/_footer.scss */
.footer-content ul {
  text-align: center;
}
/* line 58, ../../app/sass/_footer.scss */
.footer-content li {
  display: inline-block;
  padding: 25px 5px;
}

/* line 1, ../../app/sass/_search.scss */
.big-search-box {
  display: block;
  margin: 0 auto;
  line-height: 50px;
  margin-top: 50px;
  margin-bottom: 10px;
  font-size: 25px;
  box-sizing: border-box;
  padding: 0;
  width: 70%;
  padding: 0 15px;
}

/* line 12, ../../app/sass/_search.scss */
.search-input {
  padding-bottom: 50px;
}

/* line 16, ../../app/sass/_search.scss */
.search-results {
  border-top: 1px solid #ccc;
  background: #eee;
  padding: 75px 0;
}

/* line 22, ../../app/sass/_search.scss */
.searchButton {
  background: none;
  border: 1px solid transparent;
  width: 40px;
  height: 40px;
  background: url(../images/search.png) center center no-repeat;
  text-indent: -9999px;
  margin-left: -44px;
}
/* line 32, ../../app/sass/_search.scss */
.searchButton:hover {
  border: 1px solid #ccc;
  background-color: #eee;
  cursor: pointer;
}

/* line 39, ../../app/sass/_search.scss */
.results-number {
  float: left;
  margin-left: 15%;
}

/* line 43, ../../app/sass/_search.scss */
.search-endpoint {
  float: right;
  margin-right: 15%;
}

/* line 48, ../../app/sass/_search.scss */
.search-grid-results {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: block;
  text-align: center;
}
/* line 56, ../../app/sass/_search.scss */
.search-grid-results li {
  box-sizing: border-box;
  float: left;
  padding: 12.5px;
  width: 25%;
  display: block;
}

/* line 62, ../../app/sass/_search.scss */
.search-grid-result {
  padding: 0;
  margin: 0;
}
/* line 66, ../../app/sass/_search.scss */
.search-grid-result .content {
  height: 205px;
  display: block;
  background: white;
  border-radius: 5px;
  border: 0;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  text-align: center;
  padding: 10px 0 0 0;
  position: relative;
}
/* line 81, ../../app/sass/_search.scss */
.search-grid-result .content:hover h3 {
  color: #00ABD6;
}
/* line 92, ../../app/sass/_search.scss */
.search-grid-result .content:active {
  border: 0;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
}
/* line 114, ../../app/sass/_search.scss */
.search-grid-result h3 {
  text-transform: uppercase;
  color: #333;
  margin-top: 5px;
  margin-bottom: 5px;
}
/* line 128, ../../app/sass/_search.scss */
.search-grid-result .meta {
  position: absolute;
  bottom: 0;
  border-top: 1px solid #ededed !important;
  color: #666;
  padding: 0;
  margin: 10px 0px 0 0px;
}
/* line 136, ../../app/sass/_search.scss */
.search-grid-result .meta .meta-table {
  display: table;
  width: 100%;
  table-layout: fixed;
}
/* line 142, ../../app/sass/_search.scss */
.search-grid-result .meta .meta-cell {
  display: table-cell;
  border-right: 1px solid #ededed;
  padding: 5px 0;
}
/* line 147, ../../app/sass/_search.scss */
.search-grid-result .meta .meta-cell:last-child {
  border: 0;
}
/* line 152, ../../app/sass/_search.scss */
.search-grid-result .type {
  color: #666;
  font-weight: bold;
  min-height: 40px;
}
/* line 158, ../../app/sass/_search.scss */
.search-grid-result .top-circle {
  position: relative;
  z-index: 2;
  height: 50px;
}
/* line 164, ../../app/sass/_search.scss */
.search-grid-result .top-circle img {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -25px;
  z-index: 3;
}
/* line 172, ../../app/sass/_search.scss */
.search-grid-result .top-circle:before {
  border-top: 1px solid #ededed;
  position: absolute;
  top: 50%;
  left: 15px;
  right: calc(50% + 33px);
  z-index: 1;
  content: '';
}
/* line 181, ../../app/sass/_search.scss */
.search-grid-result .top-circle:after {
  border-top: 1px solid #ededed;
  position: absolute;
  top: 50%;
  left: calc(50% + 30px);
  right: 15px;
  z-index: 1;
  content: '';
}

@media only screen and (max-width: 760px), (min-device-width: 200px) and (max-device-width: 1024px) {
  /* line 194, ../../app/sass/_search.scss */
  .search-grid-result {
    width: 100%;
    margin-bottom: 0;
  }
  /* line 198, ../../app/sass/_search.scss */
  .search-grid-result .content {
    margin: 0;
    border-radius: 0;
  }

  /* line 204, ../../app/sass/_search.scss */
  .search-grid-results {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
  }
  /* line 210, ../../app/sass/_search.scss */
  .search-grid-results li {
    padding: 0;
    width: 100%;
    padding: 0 5px;
    display: block;
    float: none;
  }
}
/* line 6, ../../app/sass/_hops.scss */
.single-hop .substitutes {
  border-top: 1px solid #ccc;
  background: #DFE4CD;
}

/* line 12, ../../app/sass/_hops.scss */
.the-list {
  padding: 0px 0 50px 0;
  text-align: center;
}

/* line 16, ../../app/sass/_hops.scss */
.hops-list, .fermentables-list, .yeasts-list {
  width: 100%;
}
/* line 18, ../../app/sass/_hops.scss */
.hops-list td, .hops-list th, .fermentables-list td, .fermentables-list th, .yeasts-list td, .yeasts-list th {
  padding: 10px;
}
/* line 19, ../../app/sass/_hops.scss */
.hops-list tr:first-child, .fermentables-list tr:first-child, .yeasts-list tr:first-child {
  background: #666;
  color: white;
  text-align: left;
}
/* line 25, ../../app/sass/_hops.scss */
.hops-list tr:nth-child(even), .fermentables-list tr:nth-child(even), .yeasts-list tr:nth-child(even) {
  background: #eee;
}

/* line 6, ../../app/sass/_fermentables.scss */
.hops-list td, .hops-list th, .fermentables-list td, .fermentables-list th, .yeasts-list td, .yeasts-list th {
  text-align: left;
}
/* line 9, ../../app/sass/_fermentables.scss */
.hops-list tr:nth-child(odd), .fermentables-list tr:nth-child(odd), .yeasts-list tr:nth-child(odd) {
  background: #ddd;
}
/* line 12, ../../app/sass/_fermentables.scss */
.hops-list tr:nth-child(1), .fermentables-list tr:nth-child(1), .yeasts-list tr:nth-child(1) {
  background: #666;
}

/* line 6, ../../app/sass/_yeasts.scss */
.single-yeast .substitutes {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background: #FCF1EF;
  padding-bottom: 25px;
  color: #592114;
}

/* line 3, ../../app/sass/_users.scss */
.login .submit {
  float: right;
  margin-right: 25%;
}
/* line 8, ../../app/sass/_users.scss */
.login .login-form {
  background: #eee;
  border-top: #ccc;
  padding: 50px 0;
}
/* line 13, ../../app/sass/_users.scss */
.login input[type=text] {
  box-sizing: border-box;
  padding: 0;
  width: 50%;
  padding: 0 5px;
  line-height: 30px;
  font-size: 20px;
  display: block;
  margin: 0 auto;
  margin-bottom: 25px;
}
/* line 22, ../../app/sass/_users.scss */
.login input[type=checkbox] {
  display: inline-block;
}
/* line 26, ../../app/sass/_users.scss */
.login label {
  display: inline-block;
  margin-left: 25%;
  margin-bottom: 5px;
  color: #999;
}

/* line 34, ../../app/sass/_users.scss */
.settings {
  position: relative;
  padding: 15px;
  text-align: center;
  background: #efefef;
}
/* line 50, ../../app/sass/_users.scss */
.settings:nth-of-type(odd) {
  background: #ddd;
}
/* line 54, ../../app/sass/_users.scss */
.settings strong, .settings select {
  margin-right: 15px;
}

/* line 2, ../../app/sass/_brewer.scss */
.gravatar img {
  border-radius: 50%;
  vertical-align: sub;
}

/* line 3, ../../app/sass/_brewery.scss */
.brewery .members {
  background: #fff;
  border-top: 1px solid #ccc;
  text-align: center;
  padding-bottom: 25px;
}
/* line 9, ../../app/sass/_brewery.scss */
.brewery .members ul {
  display: inline-block;
}
/* line 13, ../../app/sass/_brewery.scss */
.brewery .beers {
  background: #eee;
  border-top: 1px solid #ccc;
  text-align: center;
  padding-bottom: 25px;
}
/* line 19, ../../app/sass/_brewery.scss */
.brewery .beers ul {
  display: inline-block;
}

/* line 1, ../../app/sass/_recipe.scss */
.meta {
  padding: 25px 50px;
  border-bottom: 1px solid #ccc;
  text-align: center;
}
/* line 6, ../../app/sass/_recipe.scss */
.meta span {
  display: inline-block;
  padding: 0 25px;
}
/* line 10, ../../app/sass/_recipe.scss */
.meta span strong {
  display: block;
  font-size: 180%;
  font-weight: normal;
}
/* line 17, ../../app/sass/_recipe.scss */
.meta:last-child {
  border: 0;
}

/* line 26, ../../app/sass/_recipe.scss */
.recipe-name {
  background: #FBFBFB;
  text-align: center;
  border: 1px solid #ccc;
  font-size: 50px;
  font-weight: normal;
}

/* line 34, ../../app/sass/_recipe.scss */
.beer-meta {
  background: #eee;
  border-top: 1px solid #fff;
  position: relative;
}
/* line 39, ../../app/sass/_recipe.scss */
.beer-meta:before {
  position: absolute;
  top: -2px;
  left: 0;
  right: 0;
  border-top: 1px solid #ddd;
  content: '';
}

/* line 49, ../../app/sass/_recipe.scss */
.meta-line {
  font-size: 25px;
  padding: 25px 0;
  padding-top: 0;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

/* line 86, ../../app/sass/_recipe.scss */
.conclusion .recipe-beer-meta {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-bottom: 50px;
  padding: 25px 0;
}
/* line 92, ../../app/sass/_recipe.scss */
.conclusion .recipe-beer-meta .beer-meta-value {
  font-size: 26px;
  font-weight: 300;
  line-height: 50px;
  display: inline-block;
  margin-right: 15px;
}
/* line 99, ../../app/sass/_recipe.scss */
.conclusion .recipe-beer-meta .beer-meta-key {
  line-height: 40px;
  height: 50px;
  margin-right: 15px;
  display: inline-block;
}

/* line 106, ../../app/sass/_recipe.scss */
.meta-information {
  background: #eee;
  padding: 25px;
  border-top: 1px solid #ccc;
}
/* line 107, ../../app/sass/_recipe.scss */
.meta-information .recipe-name {
  margin-bottom: 25px;
}
/* line 110, ../../app/sass/_recipe.scss */
.meta-information .recipe-name, .meta-information .recipe-style {
  width: 100%;
  height: 50px;
  padding: 0 10px;
  font-size: 20px;
}
/* line 116, ../../app/sass/_recipe.scss */
.meta-information .inner-wrapper, .meta-information .description, .meta-information .footer-content {
  padding: 50px 0;
}

/* line 124, ../../app/sass/_recipe.scss */
h2 {
  text-align: center;
  font-size: 50px;
  font-weight: normal;
}

/* line 129, ../../app/sass/_recipe.scss */
ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 134, ../../app/sass/_recipe.scss */
.step-number {
  color: white;
  font-size: 40px;
  text-align: center;
  line-height: 50px;
  margin-right: 25px;
  box-sizing: border-box;
  float: left;
  padding: 0;
  width: 5%;
}

/* line 142, ../../app/sass/_recipe.scss */
.step-meta {
  background: rgba(0, 0, 0, 0.1);
  line-height: 46px;
  width: 100%;
  padding: 0;
  padding-right: 5px;
}
/* line 149, ../../app/sass/_recipe.scss */
.step-meta span {
  padding: 0;
  display: inline-block;
  margin: 0;
}
/* line 155, ../../app/sass/_recipe.scss */
.step-meta .values {
  float: right;
}
/* line 157, ../../app/sass/_recipe.scss */
.step-meta .values input {
  width: 60px;
  display: inline-block;
}
/* line 161, ../../app/sass/_recipe.scss */
.step-meta .values label {
  margin-left: 15px;
}
/* line 166, ../../app/sass/_recipe.scss */
.step-meta .step-type {
  font-size: 20px;
  line-height: 50px;
  padding: 0;
  margin: 0;
}

/* line 173, ../../app/sass/_recipe.scss */
.step-wrapper {
  margin-bottom: 25px;
}

/* line 178, ../../app/sass/_recipe.scss */
.meta-values-input input[type=number], .meta-values-input input[type=text] {
  width: 40px;
  padding: 0 5px;
  height: 30px;
  line-height: 30px;
  font-size: 20px;
  text-align: center;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.1);
}
/* line 188, ../../app/sass/_recipe.scss */
.meta-values-input input[type=number]:hover, .meta-values-input input[type=text]:hover {
  background: rgba(255, 255, 255, 0.8);
}
/* line 191, ../../app/sass/_recipe.scss */
.meta-values-input input[type=number]:active, .meta-values-input input[type=text]:active {
  background: white;
}

/* line 196, ../../app/sass/_recipe.scss */
.add-step {
  float: right;
  display: block;
  line-height: 50px;
  font-size: 20px;
  color: white;
  font-weight: normal;
  padding: 0 10px;
  margin: 0 auto;
  margin-bottom: 20px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.7);
  border-right: 1px solid rgba(0, 0, 0, 0.7);
}
/* line 210, ../../app/sass/_recipe.scss */
.add-step:hover {
  cursor: pointer;
}
/* line 214, ../../app/sass/_recipe.scss */
.add-step:active {
  border-top: 1px solid rgba(0, 0, 0, 0.7);
  border-left: 1px solid rgba(0, 0, 0, 0.7);
}

/* line 219, ../../app/sass/_recipe.scss */
.mash {
  background: #EEE4DB;
  color: #705F58;
  border-top: 1px solid #D8D2CA;
}
/* line 223, ../../app/sass/_recipe.scss */
.mash .step-number, .mash tr:first-child, .mash .add-step, .mash .add-ingredient {
  background: #705F58;
}

/* line 227, ../../app/sass/_recipe.scss */
.boil {
  background: #DFE4CD;
  color: #66743E;
  border-top: 1px solid #D2D5C3;
}
/* line 232, ../../app/sass/_recipe.scss */
.boil .step-number, .boil tr:first-child, .boil .add-step, .boil .add-ingredient {
  background: #66743E;
}

/* line 236, ../../app/sass/_recipe.scss */
.fermentation {
  background: #FCF1EF;
  color: #592114;
  border-top: 1px solid #D0D4C1;
}
/* line 241, ../../app/sass/_recipe.scss */
.fermentation .step-number, .fermentation tr:first-child, .fermentation .add-step, .fermentation .add-ingredient {
  background: #592114;
}

/* line 246, ../../app/sass/_recipe.scss */
.steps {
  border-top: 1px solid #ccc;
}

/* line 251, ../../app/sass/_recipe.scss */
.step-notes {
  float: right;
  margin-top: 15px;
  margin-bottom: 5px;
  width: 600px;
  height: 33px;
  font-size: 15px;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.3);
}

/* line 263, ../../app/sass/_recipe.scss */
.recipe-notes {
  display: block;
  box-sizing: border-box;
  padding: 15px;
  width: 66.66667%;
  min-height: 100px;
  margin: 0 auto;
}

/* line 269, ../../app/sass/_recipe.scss */
.add-ingredient {
  display: inline-block;
  font-size: 15px;
  line-height: 20px;
  margin-right: 1px;
  border: 0;
  padding: 5px 10px;
  color: white;
  float: left;
}
/* line 279, ../../app/sass/_recipe.scss */
.add-ingredient:last-child {
  margin-right: 0;
}
/* line 283, ../../app/sass/_recipe.scss */
.add-ingredient:hover {
  cursor: pointer;
}

/* line 287, ../../app/sass/_recipe.scss */
.add-ingredient-wrapper {
  text-align: right;
  display: inline-block;
  margin: 15px 0;
}
/* line 292, ../../app/sass/_recipe.scss */
.add-ingredient-wrapper:before {
  display: block;
  float: left;
  content: 'ADD';
  margin-right: 1px;
  padding: 5px 10px;
  background: rgba(0, 0, 0, 0.2);
  color: white;
  font-size: 15px;
  line-height: 20px;
}

/* line 305, ../../app/sass/_recipe.scss */
.embedded-search {
  position: fixed;
  z-index: 20;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
}
/* line 313, ../../app/sass/_recipe.scss */
.embedded-search .inner-wrapper, .embedded-search .description, .embedded-search .footer-content {
  height: 100%;
  overflow: auto;
  background: white;
}
/* line 317, ../../app/sass/_recipe.scss */
.embedded-search .inner-wrapper table, .embedded-search .description table, .embedded-search .footer-content table {
  width: 100%;
}

/* line 323, ../../app/sass/_recipe.scss */
.steps, .ingredients {
  margin-top: 1px;
}
/* line 327, ../../app/sass/_recipe.scss */
.steps table, .ingredients table {
  width: 100%;
  padding: 0;
  border-spacing: 0;
}
/* line 333, ../../app/sass/_recipe.scss */
.steps tr, .ingredients tr {
  padding: 0;
  margin: 0;
  height: 50px;
  background: rgba(255, 255, 255, 0.2);
}
/* line 339, ../../app/sass/_recipe.scss */
.steps tr:nth-child(even), .ingredients tr:nth-child(even) {
  background: rgba(0, 0, 0, 0.05);
}
/* line 342, ../../app/sass/_recipe.scss */
.steps tr:first-child, .ingredients tr:first-child {
  color: white;
  line-height: 40px;
}
/* line 346, ../../app/sass/_recipe.scss */
.steps td, .steps th, .ingredients td, .ingredients th {
  font-weight: normal;
  padding: 10px;
  padding-right: 1px;
  margin: 0;
}
/* line 353, ../../app/sass/_recipe.scss */
.steps th, .ingredients th {
  padding: 0 10px;
}
/* line 357, ../../app/sass/_recipe.scss */
.steps input[type='text'], .ingredients input[type='text'] {
  display: inline-block;
  width: 50px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  border: 0;
  margin-right: 5px;
  background: rgba(255, 255, 255, 0.3);
}
/* line 367, ../../app/sass/_recipe.scss */
.steps select, .ingredients select {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 40px;
}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Force table to not be like tables anymore */
  /* line 383, ../../app/sass/_recipe.scss */
  table, thead, tbody, th, td, tr {
    display: block;
    clear: both;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  /* line 389, ../../app/sass/_recipe.scss */
  tr:first-child {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  /* line 395, ../../app/sass/_recipe.scss */
  tr {
    border: 1px solid #ccc;
    height: auto !important;
  }

  /* line 397, ../../app/sass/_recipe.scss */
  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50% !important;
  }

  /* line 405, ../../app/sass/_recipe.scss */
  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  /*
  Label the data
  */
  /* line 420, ../../app/sass/_recipe.scss */
  .fermentables td:nth-of-type(1):before {
    content: "Malt name";
  }
  /* line 421, ../../app/sass/_recipe.scss */
  .fermentables td:nth-of-type(2):before {
    content: "Amount";
  }
  /* line 422, ../../app/sass/_recipe.scss */
  .fermentables td:nth-of-type(3):before {
    content: "Colour";
  }
  /* line 423, ../../app/sass/_recipe.scss */
  .fermentables td:nth-of-type(4):before {
    content: "PPG";
  }
  /* line 424, ../../app/sass/_recipe.scss */
  .fermentables td:nth-of-type(5):before {
    content: "Contributes";
  }

  /* line 427, ../../app/sass/_recipe.scss */
  .fermentables-list td:nth-of-type(1):before {
    content: "Malt name";
  }
  /* line 428, ../../app/sass/_recipe.scss */
  .fermentables-list td:nth-of-type(2):before {
    content: "Type";
  }
  /* line 429, ../../app/sass/_recipe.scss */
  .fermentables-list td:nth-of-type(3):before {
    content: "Maltster";
  }
  /* line 430, ../../app/sass/_recipe.scss */
  .fermentables-list td:nth-of-type(4):before {
    content: "Origin";
  }
  /* line 431, ../../app/sass/_recipe.scss */
  .fermentables-list td:nth-of-type(5):before {
    content: "PPG";
  }
  /* line 432, ../../app/sass/_recipe.scss */
  .fermentables-list td:nth-of-type(6):before {
    content: "Colour";
  }

  /* line 435, ../../app/sass/_recipe.scss */
  .hops td:nth-of-type(1):before {
    content: "Hop name";
  }
  /* line 436, ../../app/sass/_recipe.scss */
  .hops td:nth-of-type(2):before {
    content: "Amount";
  }
  /* line 437, ../../app/sass/_recipe.scss */
  .hops td:nth-of-type(3):before {
    content: "Type";
  }
  /* line 438, ../../app/sass/_recipe.scss */
  .hops td:nth-of-type(4):before {
    content: "Alpha";
  }
  /* line 439, ../../app/sass/_recipe.scss */
  .hops td:nth-of-type(5):before {
    content: "Beta";
  }
  /* line 440, ../../app/sass/_recipe.scss */
  .hops td:nth-of-type(6):before {
    content: "Contribution";
  }

  /* line 443, ../../app/sass/_recipe.scss */
  .hops-list td:nth-of-type(1):before {
    content: "Hop name";
  }
  /* line 444, ../../app/sass/_recipe.scss */
  .hops-list td:nth-of-type(2):before {
    content: "Origin";
  }
  /* line 445, ../../app/sass/_recipe.scss */
  .hops-list td:nth-of-type(3):before {
    content: "Alpha Acids";
  }
  /* line 446, ../../app/sass/_recipe.scss */
  .hops-list td:nth-of-type(4):before {
    content: "Beta Acids";
  }
  /* line 447, ../../app/sass/_recipe.scss */
  .hops-list td:nth-of-type(5):before {
    content: "Flavours";
  }

  /* line 450, ../../app/sass/_recipe.scss */
  .other td:nth-of-type(1):before {
    content: "Additive name";
  }
  /* line 451, ../../app/sass/_recipe.scss */
  .other td:nth-of-type(2):before {
    content: "Amount";
  }

  /* line 454, ../../app/sass/_recipe.scss */
  .yeasts td:nth-of-type(1):before {
    content: "Yeast name";
  }
  /* line 455, ../../app/sass/_recipe.scss */
  .yeasts td:nth-of-type(2):before {
    content: "Amount";
  }
  /* line 456, ../../app/sass/_recipe.scss */
  .yeasts td:nth-of-type(3):before {
    content: "Attenuation";
  }
  /* line 457, ../../app/sass/_recipe.scss */
  .yeasts td:nth-of-type(4):before {
    content: "Flocculation";
  }
  /* line 458, ../../app/sass/_recipe.scss */
  .yeasts td:nth-of-type(5):before {
    content: "Alcohol tolerance";
  }
  /* line 459, ../../app/sass/_recipe.scss */
  .yeasts td:nth-of-type(6):before {
    content: "Temperature";
  }

  /* line 462, ../../app/sass/_recipe.scss */
  .yeasts-list td:nth-of-type(1):before {
    content: "Code";
  }
  /* line 463, ../../app/sass/_recipe.scss */
  .yeasts-list td:nth-of-type(2):before {
    content: "Name";
  }
  /* line 464, ../../app/sass/_recipe.scss */
  .yeasts-list td:nth-of-type(3):before {
    content: "Supplier";
  }
  /* line 465, ../../app/sass/_recipe.scss */
  .yeasts-list td:nth-of-type(4):before {
    content: "Type";
  }
  /* line 466, ../../app/sass/_recipe.scss */
  .yeasts-list td:nth-of-type(5):before {
    content: "Temperature";
  }
  /* line 467, ../../app/sass/_recipe.scss */
  .yeasts-list td:nth-of-type(6):before {
    content: "Flocculation";
  }
  /* line 468, ../../app/sass/_recipe.scss */
  .yeasts-list td:nth-of-type(6):before {
    content: "Alcohol Tolerance";
  }
}
/* line 472, ../../app/sass/_recipe.scss */
td.form-button {
  padding: 0;
  padding-right: 10px;
  padding-left: 10px;
  width: 40px;
}

/* line 478, ../../app/sass/_recipe.scss */
button.form-button {
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  border: 0;
  display: inline-block;
}
/* line 486, ../../app/sass/_recipe.scss */
button.form-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
/* line 491, ../../app/sass/_recipe.scss */
button.form-button.edit {
  margin-right: 15px;
}

/* line 499, ../../app/sass/_recipe.scss */
.conclusion {
  text-align: center;
}

/* line 1, ../../app/sass/_graph.scss */
.measureWrapper {
  width: 150px;
  margin: 0 10px;
  display: inline-block;
}

/* line 7, ../../app/sass/_graph.scss */
.measureInterval {
  width: 8px;
  height: 200px !important;
  background: white;
  height: 8px;
  margin: 50px auto;
  padding: 0;
  position: relative;
  border: 1px solid #ccc;
  clear: both;
}
/* line 19, ../../app/sass/_graph.scss */
.measureInterval .min {
  position: absolute;
  top: 100%;
  left: 100%;
  padding-left: 14px;
  border-top: 1px solid #ccc;
  font-size: 12px;
  color: #666;
  text-align: center;
}
/* line 29, ../../app/sass/_graph.scss */
.measureInterval .max {
  position: absolute;
  bottom: 100%;
  left: 100%;
  padding-left: 14px;
  border-bottom: 1px solid #ccc;
  font-size: 12px;
  color: #666;
  text-align: center;
}
/* line 40, ../../app/sass/_graph.scss */
.measureInterval .styleIndicator {
  background: green;
  position: absolute;
  left: -1px;
  right: -1px;
}
/* line 47, ../../app/sass/_graph.scss */
.measureInterval .valueIndicator {
  position: absolute;
  width: 100%;
}
/* line 51, ../../app/sass/_graph.scss */
.measureInterval .valueIndicator .legend {
  position: absolute;
  top: -24px;
  right: 100%;
  margin-right: 14px;
  font-size: 14px;
  color: #666;
  text-align: center;
}
/* line 61, ../../app/sass/_graph.scss */
.measureInterval .valueIndicator .value {
  position: absolute;
  top: -12px;
  right: 100%;
  margin-right: 14px;
  font-size: 18px;
  color: green;
}
/* line 70, ../../app/sass/_graph.scss */
.measureInterval .valueIndicator:before {
  position: absolute;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-left: 10px solid #333;
  top: -3px;
  left: -12px;
  content: '';
}
/* line 80, ../../app/sass/_graph.scss */
.measureInterval .valueIndicator:after {
  position: absolute;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-right: 10px solid #333;
  top: -3px;
  right: -12px;
  content: '';
}

/*! 
 * angular-loading-bar v0.6.0
 * https://chieffancypants.github.io/angular-loading-bar
 * Copyright (c) 2014 Wes Cruver
 * License: MIT
 */
/* Make clicks pass-through */
/* line 9, ../../app/sass/_angular-loading-bar.scss */
#loading-bar,
#loading-bar-spinner {
  pointer-events: none;
  -webkit-pointer-events: none;
  -webkit-transition: 350ms linear all;
  -moz-transition: 350ms linear all;
  -o-transition: 350ms linear all;
  transition: 350ms linear all;
}

/* line 19, ../../app/sass/_angular-loading-bar.scss */
#loading-bar.ng-enter,
#loading-bar.ng-leave.ng-leave-active,
#loading-bar-spinner.ng-enter,
#loading-bar-spinner.ng-leave.ng-leave-active {
  opacity: 0;
}

/* line 26, ../../app/sass/_angular-loading-bar.scss */
#loading-bar.ng-enter.ng-enter-active,
#loading-bar.ng-leave,
#loading-bar-spinner.ng-enter.ng-enter-active,
#loading-bar-spinner.ng-leave {
  opacity: 1;
}

/* line 33, ../../app/sass/_angular-loading-bar.scss */
#loading-bar .bar {
  -webkit-transition: width 350ms;
  -moz-transition: width 350ms;
  -o-transition: width 350ms;
  transition: width 350ms;
  background: #00ABD6;
  position: fixed;
  z-index: 10002;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  border-bottom-right-radius: 1px;
  border-top-right-radius: 1px;
}

/* Fancy blur effect */
/* line 51, ../../app/sass/_angular-loading-bar.scss */
#loading-bar .peg {
  position: absolute;
  width: 70px;
  right: 0;
  top: 0;
  height: 2px;
  opacity: .45;
  -moz-box-shadow: #00ABD6 1px 0 6px 1px;
  -ms-box-shadow: #00ABD6 1px 0 6px 1px;
  -webkit-box-shadow: #00ABD6 1px 0 6px 1px;
  box-shadow: #00ABD6 1px 0 6px 1px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}

/* line 67, ../../app/sass/_angular-loading-bar.scss */
#loading-bar-spinner {
  display: block;
  position: fixed;
  z-index: 10002;
  top: 10px;
  left: 10px;
}

/* line 75, ../../app/sass/_angular-loading-bar.scss */
.spinner-icon, button.loading:after, .ng-submitted button.submit:after {
  width: 14px;
  height: 14px;
  border: solid 2px transparent;
  border-top-color: #00ABD6;
  border-left-color: #00ABD6;
  border-radius: 10px;
  -webkit-animation: loading-bar-spinner 400ms linear infinite;
  -moz-animation: loading-bar-spinner 400ms linear infinite;
  -ms-animation: loading-bar-spinner 400ms linear infinite;
  -o-animation: loading-bar-spinner 400ms linear infinite;
  animation: loading-bar-spinner 400ms linear infinite;
}

@-webkit-keyframes loading-bar-spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes loading-bar-spinner {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes loading-bar-spinner {
  0% {
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes loading-bar-spinner {
  0% {
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loading-bar-spinner {
  0% {
    transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* ************************************** */
/* Mandatory CSS required for ng-sortable */
/* ************************************** */
/* line 5, ../../app/sass/_ng-sortable.scss */
.as-sortable-item {
  -ms-touch-action: none;
  touch-action: none;
}

/* line 10, ../../app/sass/_ng-sortable.scss */
.as-sortable-item-handle {
  cursor: move;
}

/* line 17, ../../app/sass/_ng-sortable.scss */
.as-sortable-drag {
  position: absolute;
  pointer-events: none;
  z-index: 9999;
}

/* line 23, ../../app/sass/_ng-sortable.scss */
.as-sortable-hidden {
  display: none !important;
}
