.cf, .inner-wrapper, .footer-content, #main-navigation ul, .search-grid-results, .step-meta, .step-wrapper, .ui-select-choices, .grid-list, .list-item {
  *zoom: 1; }
  .cf:before, .inner-wrapper:before, .footer-content:before, #main-navigation ul:before, .search-grid-results:before, .step-meta:before, .step-wrapper:before, .ui-select-choices:before, .grid-list:before, .list-item:before, .cf:after, .inner-wrapper:after, .footer-content:after, #main-navigation ul:after, .search-grid-results:after, .step-meta:after, .step-wrapper:after, .ui-select-choices:after, .grid-list:after, .list-item:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
  .cf:after, .inner-wrapper:after, .footer-content:after, #main-navigation ul:after, .search-grid-results:after, .step-meta:after, .step-wrapper:after, .ui-select-choices:after, .grid-list:after, .list-item:after {
    clear: both; }

#main-navigation, .bubble {
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2); }

div, article, section, footer, header {
  box-sizing: border-box; }

.inner-wrapper, .footer-content {
  box-sizing: border-box;
  padding: 0;
  width: 100%;
  max-width: 1000px;
  width: 100%;
  margin: 25px auto;
  clear: both; }

.half {
  box-sizing: border-box;
  float: left;
  padding: 25px;
  width: 50%; }

.third {
  box-sizing: border-box;
  float: left;
  padding: 25px;
  width: 33.33333%; }

@font-face {
  font-family: 'Kingthings Petrock';
  src: url("../fonts/Kingthings_Petrock-webfont.eot");
  src: url("../fonts/Kingthings_Petrock-webfont.eot?iefix") format("eot"), url("../fonts/Kingthings_Petrock-webfont.woff") format("woff"), url("../fonts/Kingthings_Petrock-webfont.ttf") format("truetype"), url("../fonts/Kingthings_Petrock-webfont.svg#webfont") format("svg"); }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/SourceSansPro-Regular-webfont.eot");
  src: url("../fonts/SourceSansPro-Regular-webfont.eot?iefix") format("eot"), url("../fonts/SourceSansPro-Regular-webfont.woff") format("woff"), url("../fonts/SourceSansPro-Regular-webfont.ttf") format("truetype"), url("../fonts/SourceSansPro-Regular-webfont.svg#webfont") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/SourceSansPro-Bold-webfont.eot");
  src: url("../fonts/SourceSansPro-Bold-webfont.eot?iefix") format("eot"), url("../fonts/SourceSansPro-Bold-webfont.woff") format("woff"), url("../fonts/SourceSansPro-Bold-webfont.ttf") format("truetype"), url("../fonts/SourceSansPro-Bold-webfont.svg#webfont") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/SourceSansPro-Light-webfont.eot");
  src: url("../fonts/SourceSansPro-Light-webfont.eot?iefix") format("eot"), url("../fonts/SourceSansPro-Light-webfont.woff") format("woff"), url("../fonts/SourceSansPro-Light-webfont.ttf") format("truetype"), url("../fonts/SourceSansPro-Light-webfont.svg#webfont") format("svg");
  font-weight: 100;
  font-style: normal; }

html {
  margin: 0;
  font-family: Source Sans Pro;
  line-height: 1.4;
  font-size: 15px; }

a {
  text-decoration: none;
  color: #00ABD6; }

body {
  margin: 0;
  color: #333;
  background: #fbfbfb; }

h2 {
  text-align: center;
  font-weight: normal;
  font-size: 160%; }

.normal-list {
  list-style: disc; }
  .normal-list li {
    dispaly: block;
    padding: 5px 0; }

.no-wrap input {
  display: inline-block;
  width: auto; }

.the-content {
  padding: 25px 0;
  background: #efefef;
  border-top: 1px solid #ccc; }

.sub-nav + .the-content {
  border-top-width: 4px; }

.center {
  text-align: center;
  margin: 0 auto; }

.inner-wrapper, .footer-content {
  max-width: 1000px;
  margin: 0 auto; }

.subnavItem:target {
  color: black; }

.subSection {
  display: none; }
  .subSection:target {
    display: block; }

.notes.text {
  border: none;
  background: none; }
  .notes.text .inner-wrapper, .notes.text .footer-content {
    margin-bottom: 25px; }
    .notes.text .inner-wrapper p, .notes.text .footer-content p {
      width: 90%;
      padding: 0 25px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 25px; }

.zebra {
  width: 90%;
  margin-left: auto;
  margin-right: auto; }
  .zebra th {
    background: #666;
    color: #fff;
    text-align: left;
    font-weight: normal;
    padding: 5px; }
  .zebra tr:nth-child(odd) {
    background: #efefef; }
  .zebra tr {
    background: #fff; }
  .zebra td {
    padding: 5px; }

.spinner-icon {
  width: 14px;
  height: 14px;
  border: solid 2px transparent;
  border-top-color: #00ABD6;
  border-left-color: #00ABD6;
  border-radius: 10px;
  -webkit-animation: loading-bar-spinner 400ms linear infinite;
  -moz-animation: loading-bar-spinner 400ms linear infinite;
  -ms-animation: loading-bar-spinner 400ms linear infinite;
  -o-animation: loading-bar-spinner 400ms linear infinite;
  animation: loading-bar-spinner 400ms linear infinite; }

@-webkit-keyframes loading-bar-spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-moz-keyframes loading-bar-spinner {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-o-keyframes loading-bar-spinner {
  0% {
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-ms-keyframes loading-bar-spinner {
  0% {
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes loading-bar-spinner {
  0% {
    transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg);
    transform: rotate(360deg); } }

.meta-info {
  text-align: center;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 25px;
  padding: 25px; }
  .meta-info .inner-wrapper, .meta-info .footer-content {
    border-top: 1px solid #ccc;
    margin-top: 15px;
    padding-top: 15px; }
  .meta-info .inner-wrapper:first-child, .meta-info .footer-content:first-child {
    border-top: 0;
    padding-top: 0;
    margin-top: 0; }

.meta-bubble {
  position: relative;
  height: 32px;
  line-height: 32px;
  display: inline-block;
  padding: 0 15px;
  border-right: 1px solid #ccc; }
  .meta-bubble:last-child {
    border-right: 0; }
  .meta-bubble .minibubble {
    display: inline-block;
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.2); }
  .meta-bubble .minibubble-label {
    margin-left: 5px;
    margin-right: 10px; }
  .meta-bubble .value {
    float: left;
    background: transparent !important;
    line-height: 32px;
    font-size: 170%; }
  .meta-bubble .label {
    float: left;
    line-height: 32px;
    margin-left: 5px; }
  .meta-bubble input, .meta-bubble input.name, .meta-bubble input.amount {
    background: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(0, 0, 0, 0.1);
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 40px; }
    .meta-bubble input:hover, .meta-bubble input:active, .meta-bubble input:focus, .meta-bubble input.name:hover, .meta-bubble input.name:active, .meta-bubble input.name:focus, .meta-bubble input.amount:hover, .meta-bubble input.amount:active, .meta-bubble input.amount:focus {
      cursor: pointer;
      background: white;
      border-color: rgba(0, 0, 0, 0.2); }
  .meta-bubble label {
    display: inline-block;
    font-size: 15px;
    line-height: 40px;
    margin-right: 5px;
    margin-left: 15px; }
    .meta-bubble label:first-child {
      margin-left: 0; }
  .meta-bubble select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    height: 30px;
    margin-top: -1px;
    line-height: 30px;
    padding-left: 5px;
    padding-right: 15px;
    background: transparent;
    border: 1px solid transparent;
    position: relative; }
    .meta-bubble select:hover {
      cursor: pointer;
      background: rgba(0, 0, 0, 0.1); }
    .meta-bubble select:after {
      position: absolute;
      right: 10px;
      top: 15px;
      width: 2000px;
      height: 1000px;
      background: red;
      z-index: 3000;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 8px solid #666;
      content: ''; }
  .meta-bubble select::-ms-expand {
    /* for IE 11 */
    display: none; }

.add, .save, .submit {
  background: #CC2F2F;
  color: white;
  text-transform: uppercase;
  border: 0;
  font-size: 140%;
  padding: 0 15px;
  line-height: 40px;
  display: block;
  margin: 0 auto;
  margin-bottom: 25px; }

.prev, .next {
  display: inline-block;
  padding: 10px;
  color: white;
  background: #666;
  margin: 25px 5px;
  position: relative;
  border-radius: 5px;
  height: 20px;
  line-height: 20px; }
  .prev:after, .next:after {
    position: absolute;
    top: 0px;
    bottom: 0px;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    content: ''; }
  .prev:hover, .next:hover {
    background: #00ABD6; }
    .prev:hover:after, .next:hover:after {
      border-left-color: #00ABD6;
      border-right-color: #00ABD6; }

.next:after {
  left: 100%;
  padding-right: 0;
  margin-left: -2px;
  border-left: 10px solid #666; }

.prev:after {
  right: 100%;
  padding-left: 0;
  margin-right: -2px;
  border-right: 10px solid #666; }

.logo-text {
  font-family: 'Kingthings Petrock'; }

#main-navigation {
  position: relative;
  z-index: 20;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: rgba(255, 255, 255, 0.6);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(0, 0, 0, 0.2); }
  #main-navigation .logo-text {
    font-size: 30px; }
  #main-navigation ul {
    list-style: none;
    padding: 0;
    text-align: center;
    display: block;
    margin: 0 auto; }
  #main-navigation li {
    box-sizing: border-box;
    float: left;
    height: 50px;
    line-height: 50px;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    text-transform: uppercase; }
    #main-navigation li.right {
      float: right; }
    #main-navigation li:first-child {
      text-transform: none; }
    #main-navigation li:last-child {
      border-right: 1px solid rgba(0, 0, 0, 0.2); }
    #main-navigation li.search {
      padding: 0 15px; }
  #main-navigation a {
    display: block;
    height: 100%;
    color: #333;
    padding: 0 20px; }
    #main-navigation a:hover {
      color: #fff;
      background: #333; }
    #main-navigation a:active {
      color: #fff;
      background: #555; }
    #main-navigation a.active {
      color: white;
      background: #333; }
  #main-navigation .user.minidisplay {
    font-size: 15px; }

@media only screen and (max-width: 760px), (min-device-width: 200px) and (max-device-width: 1024px) {
  #main-navigation {
    width: 100%;
    height: auto; }
    #main-navigation ul {
      display: block; }
    #main-navigation li {
      width: 50%;
      float: left !important;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2); } }

h1 + .sub-nav {
  margin-top: -25px; }

.sub-nav {
  height: 70px;
  text-align: center;
  margin-bottom: 0px; }
  .sub-nav ul {
    padding: 0;
    margin: 0;
    display: inline-block;
    list-style: none;
    border-radius: 5px; }
  .sub-nav li {
    padding: 0;
    margin: 0;
    display: inline-block; }
    .sub-nav li a {
      box-sizing: border-box;
      color: #00ABD6;
      padding: 0 10px;
      line-height: 70px;
      display: block;
      height: 100%;
      font-size: 130%; }
      .sub-nav li a.active, .sub-nav li a:hover {
        color: #333;
        border-bottom: 4px solid rgba(0, 0, 0, 0.5); }
  .sub-nav .search-box input {
    display: inline-block;
    width: 150px;
    height: 70%;
    line-height: 35px;
    font-size: 15px;
    padding: 0 10px;
    border: 1px solid #ccc; }
    .sub-nav .search-box input:focus {
      width: 300px; }

.big-search-box {
  display: block;
  margin: 0 auto;
  line-height: 50px;
  margin-top: 50px;
  margin-bottom: 10px;
  font-size: 25px;
  box-sizing: border-box;
  padding: 0;
  width: 70%;
  padding: 0 15px; }

.search-input {
  padding-bottom: 50px; }

.search-results {
  border-top: 1px solid #ccc;
  background: #eee;
  padding: 75px 0; }

.searchButton {
  background: none;
  border: 1px solid transparent;
  width: 40px;
  height: 40px;
  background: url(../images/search.png) center center no-repeat;
  text-indent: -9999px;
  margin-left: -44px; }
  .searchButton:hover {
    border: 1px solid #ccc;
    background-color: #eee;
    cursor: pointer; }

.results-number {
  float: left;
  margin-left: 15%; }

.search-endpoint {
  float: right;
  margin-right: 15%; }

.search-grid-results {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: block;
  text-align: center; }
  .search-grid-results li {
    box-sizing: border-box;
    float: left;
    padding: 12.5px;
    width: 25%;
    display: block; }

.search-grid-result {
  padding: 0;
  margin: 0; }
  .search-grid-result .content {
    height: 205px;
    display: block;
    background: white;
    border-radius: 5px;
    border: 0;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    text-align: center;
    padding: 10px 0 0 0;
    position: relative; }
    .search-grid-result .content:hover h3 {
      color: #00ABD6; }
    .search-grid-result .content:active {
      border: 0;
      border-left: 1px solid #ccc;
      border-top: 1px solid #ccc; }
  .search-grid-result h3 {
    text-transform: uppercase;
    color: #333;
    margin-top: 5px;
    margin-bottom: 5px; }
  .search-grid-result .meta {
    position: absolute;
    bottom: 0;
    border-top: 1px solid #ededed !important;
    color: #666;
    padding: 0;
    margin: 10px 0px 0 0px; }
    .search-grid-result .meta .meta-table {
      display: table;
      width: 100%;
      table-layout: fixed; }
    .search-grid-result .meta .meta-cell {
      display: table-cell;
      border-right: 1px solid #ededed;
      padding: 5px 0; }
      .search-grid-result .meta .meta-cell:last-child {
        border: 0; }
  .search-grid-result .type {
    color: #666;
    font-weight: bold;
    min-height: 40px; }
  .search-grid-result .top-circle {
    position: relative;
    z-index: 2;
    height: 50px; }
    .search-grid-result .top-circle img {
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -25px;
      z-index: 3; }
    .search-grid-result .top-circle:before {
      border-top: 1px solid #ededed;
      position: absolute;
      top: 50%;
      left: 15px;
      right: calc(50% + 33px);
      z-index: 1;
      content: ''; }
    .search-grid-result .top-circle:after {
      border-top: 1px solid #ededed;
      position: absolute;
      top: 50%;
      left: calc(50% + 30px);
      right: 15px;
      z-index: 1;
      content: ''; }

@media only screen and (max-width: 760px), (min-device-width: 200px) and (max-device-width: 1024px) {
  .search-grid-result {
    width: 100%;
    margin-bottom: 0; }
    .search-grid-result .content {
      margin: 0;
      border-radius: 0; }
  .search-grid-results {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block; }
    .search-grid-results li {
      padding: 0;
      width: 100%;
      padding: 0 5px;
      display: block;
      float: none; } }

.fermentable .left-circle .minibubble {
  background: url("../images/fermentable-large.png") center center;
  background-size: contain; }

.hop .left-circle .minibubble {
  background: url("../images/hops-large.png") center center;
  background-size: contain;
  background-color: #008040; }

.filters {
  list-style: none; }
  .filters li {
    display: inline-block; }
  .filters input[type="checkbox"] {
    width: 25px;
    height: 25px; }

.steps {
  list-style: none;
  padding: 0;
  margin: 0; }

.step-number {
  color: white;
  font-size: 25px;
  text-align: center;
  line-height: 40px;
  width: 50px;
  border-radius: 50%;
  position: absolute;
  float: left;
  z-index: 10; }

.step-meta {
  line-height: 40px;
  padding: 0 25px;
  font-weight: normal;
  font-size: 20px;
  margin-left: 40px;
  margin-top: 5px;
  background: rgba(0, 0, 0, 0.15); }
  .step-meta .remove {
    margin-top: 10px;
    margin-right: -15px;
    float: right; }
  .step-meta input, .step-meta input.name, .step-meta input.amount {
    background: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 2px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 40px;
    float: left; }
    .step-meta input:hover, .step-meta input:active, .step-meta input:focus, .step-meta input.name:hover, .step-meta input.name:active, .step-meta input.name:focus, .step-meta input.amount:hover, .step-meta input.amount:active, .step-meta input.amount:focus {
      cursor: pointer;
      background: white;
      border-color: rgba(0, 0, 0, 0.2); }
  .step-meta label {
    display: inline-block;
    float: left;
    font-size: 15px;
    line-height: 40px;
    margin-right: 5px;
    margin-left: 15px; }
    .step-meta label:first-child {
      margin-left: 0; }
  .step-meta select {
    float: left;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    height: 40px;
    margin-top: -1px;
    line-height: 40px;
    padding-left: 5px;
    padding-right: 15px;
    background: transparent;
    border: 1px solid transparent;
    position: relative; }
    .step-meta select:hover {
      cursor: pointer;
      background: rgba(0, 0, 0, 0.1); }
    .step-meta select:after {
      position: absolute;
      right: 10px;
      top: 15px;
      width: 2000px;
      height: 1000px;
      background: red;
      z-index: 3000;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 8px solid #666;
      content: ''; }
  .step-meta select::-ms-expand {
    /* for IE 11 */
    display: none; }

.step-wrapper .listItem-list {
  clear: both;
  margin-left: 40px; }

.steps ul {
  list-style: none;
  padding: 0; }

.form-button {
  background: rgba(0, 0, 0, 0.2);
  border: 0;
  color: white; }
  .form-button:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.4);
    border: 0;
    color: white; }

.add-ingredient-wrapper {
  margin-bottom: 15px;
  margin-left: 40px;
  float: left; }

.add-ingredient {
  color: white;
  padding: 5px;
  height: 31px;
  cursor: pointer; }

h1 input {
  font-size: inherit;
  width: 100%;
  text-align: center;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: inherit; }

.step-notes {
  display: none; }

.add-step {
  color: white;
  padding: 0 10px;
  line-height: 40px;
  cursor: pointer;
  border: 0;
  font-size: 130%;
  display: block;
  margin: 0 auto;
  margin-bottom: 25px; }

.the-content.recipe {
  padding: 0; }

.mash {
  background: #EEE4DB;
  color: #705F58;
  border-top: 1px solid #D8D2CA; }
  .mash .step-number, .mash tr:first-child, .mash .add-step, .mash .add-ingredient {
    background: #705F58; }
  .mash .step-number {
    border: 5px solid #EEE4DB; }

.boil {
  background: #DFE4CD;
  color: #66743E;
  border-top: 1px solid #D2D5C3; }
  .boil .step-number, .boil tr:first-child, .boil .add-step, .boil .add-ingredient {
    background: #66743E; }
  .boil .step-number {
    border: 5px solid #DFE4CD; }

.fermentation {
  background: #FCF1EF;
  color: #592114;
  border-top: 1px solid #D0D4C1; }
  .fermentation .step-number, .fermentation tr:first-child, .fermentation .add-step, .fermentation .add-ingredient {
    background: #592114; }
  .fermentation .step-number {
    border: 5px solid #FCF1EF; }

.recipe-notes {
  display: block;
  box-sizing: border-box;
  padding: 15px;
  width: 66.66667%;
  min-height: 100px;
  margin: 0 auto; }

.beerstyle {
  width: 60%;
  margin: 15px auto 25px auto;
  position: relative; }
  .beerstyle .ui-select-search {
    text-align: center !important;
    box-sizing: border-box;
    width: 100% !important; }
  .beerstyle .ui-select-toggle {
    display: block;
    width: 100%;
    text-align: center;
    border: 1px solid #ccc;
    position: relative;
    font-size: 25px;
    color: #444; }
    .beerstyle .ui-select-toggle:hover {
      background: #eee;
      cursor: pointer; }
    .beerstyle .ui-select-toggle:after {
      position: absolute;
      right: 10px;
      top: 15px;
      width: 0;
      height: 0;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 8px solid #666;
      content: ''; }

/* Style when highlighting a search. */
.ui-select-highlight {
  font-weight: bold; }

.ui-select-match-text {
  padding-right: 20px; }

.ui-select-offscreen {
  clip: rect(0 0 0 0) !important;
  width: 1px !important;
  height: 1px !important;
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  position: absolute !important;
  outline: 0 !important;
  left: 0px !important;
  top: 0px !important; }

.dropdown-header {
  font-size: 15px;
  color: #666;
  font-weight: bold;
  text-transform: uppercase;
  background: #eee;
  padding: 10px 0;
  padding-left: 10px;
  margin: 0; }

.ui-select-choices {
  border: 1px solid #ccc;
  position: absolute;
  z-index: 100;
  left: 0;
  right: 0;
  background: white;
  width: inherit;
  height: 300px;
  overflow: auto; }

.ui-select-choices-row-inner {
  display: block;
  font-size: 15px;
  color: #333;
  padding: 10px;
  border-top: 1px solid #eee; }
  .ui-select-choices-row-inner:hover {
    background: #eee;
    cursor: pointer; }

.btn-default-focus {
  display: block; }

.ui-select-search {
  text-align: left !important;
  display: block !important;
  box-sizing: border-box;
  width: 100% !important;
  padding-left: 10px;
  margin-bottom: 0px; }

.ui-select-toggle {
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background: rgba(255, 255, 255, 0.3);
  text-align: left;
  border: 0;
  padding-left: 10px;
  position: relative; }
  .ui-select-toggle:hover {
    background: #eee;
    cursor: pointer; }
  .ui-select-toggle:after {
    position: absolute;
    right: 10px;
    top: 15px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid #666;
    content: ''; }

/* ************************************** */
/* Mandatory CSS required for ng-sortable */
/* ************************************** */
.as-sortable-item {
  -ms-touch-action: none;
  touch-action: none; }

.as-sortable-item-handle {
  cursor: move; }

.as-sortable-drag {
  position: absolute;
  pointer-events: none;
  z-index: 9999; }

.as-sortable-hidden {
  display: none !important; }

.measureWrapper {
  width: 150px;
  margin: 0 10px;
  display: inline-block; }

.measureInterval {
  width: 8px;
  height: 200px !important;
  background: white;
  height: 8px;
  margin: 50px auto;
  padding: 0;
  position: relative;
  border: 1px solid #ccc;
  clear: both; }
  .measureInterval .min {
    position: absolute;
    top: 100%;
    left: 100%;
    padding-left: 14px;
    border-top: 1px solid #ccc;
    font-size: 12px;
    color: #666;
    text-align: center; }
  .measureInterval .max {
    position: absolute;
    bottom: 100%;
    left: 100%;
    padding-left: 14px;
    border-bottom: 1px solid #ccc;
    font-size: 12px;
    color: #666;
    text-align: center; }
  .measureInterval .styleIndicator {
    background: green;
    position: absolute;
    left: -1px;
    right: -1px; }
  .measureInterval .valueIndicator {
    position: absolute;
    width: 100%; }
    .measureInterval .valueIndicator .legend {
      position: absolute;
      top: -24px;
      right: 100%;
      margin-right: 14px;
      font-size: 14px;
      color: #666;
      text-align: center; }
    .measureInterval .valueIndicator .value {
      position: absolute;
      top: -12px;
      right: 100%;
      margin-right: 14px;
      font-size: 18px;
      color: green; }
    .measureInterval .valueIndicator:before {
      position: absolute;
      border-top: 3px solid transparent;
      border-bottom: 3px solid transparent;
      border-left: 10px solid #333;
      top: -3px;
      left: -12px;
      content: ''; }
    .measureInterval .valueIndicator:after {
      position: absolute;
      border-top: 3px solid transparent;
      border-bottom: 3px solid transparent;
      border-right: 10px solid #333;
      top: -3px;
      right: -12px;
      content: ''; }

.ingredient-chooser-wrapper {
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }
  .ingredient-chooser-wrapper .bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4); }
  .ingredient-chooser-wrapper .ingredient-chooser {
    position: fixed;
    top: 100px;
    padding-top: 0;
    left: 40px;
    right: 40px;
    bottom: 40px;
    background: white;
    border: 1px solid #ccc; }
  .ingredient-chooser-wrapper .search {
    z-index: 20;
    padding: 0 20px;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    line-height: 50px;
    border-bottom: 1px solid #ccc;
    background: white; }
  .ingredient-chooser-wrapper .filter-text {
    width: 50%;
    max-width: 300px;
    min-width: 200px;
    margin-right: 25px;
    text-align: left;
    padding: 0 15px;
    height: 30px;
    display: inline-block; }
  .ingredient-chooser-wrapper .filters {
    display: inline-block;
    mix-width: 400px;
    padding: 0;
    margin: 0; }
    .ingredient-chooser-wrapper .filters li {
      display: inline-block;
      padding: 0;
      margin: 0;
      background: red; }
      .ingredient-chooser-wrapper .filters li input[type="checkbox"] {
        display: none; }
      .ingredient-chooser-wrapper .filters li input[type="checkbox"] + label {
        background: white; }
      .ingredient-chooser-wrapper .filters li input[type="checkbox"]:checked + label {
        background: #333;
        color: white; }
      .ingredient-chooser-wrapper .filters li label {
        display: inline-block;
        height: 100%;
        padding: 5px 10px; }
  .ingredient-chooser-wrapper .button-wrapper {
    float: right;
    line-height: 50px; }
  .ingredient-chooser-wrapper .listItem-list {
    box-sizing: border-box;
    height: 100%;
    padding-top: 50px;
    overflow: auto;
    background: white;
    width: 100%;
    clear: both; }

.header-bubble {
  margin-top: 35px;
  position: relative;
  margin-bottom: 0;
  text-align: center; }
  .header-bubble:before {
    position: absolute;
    height: 1px;
    top: 50%;
    left: 0;
    width: 100%;
    border-top: 1px solid #ccc;
    content: ""; }
  .header-bubble img {
    margin-left: -72px;
    position: relative;
    z-index: 2; }

.bubble {
  margin: 0 auto;
  position: relative;
  display: inline-block;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background-color: #FBFBFB;
  z-index: 2;
  content: ''; }
  .bubble:before {
    position: relative;
    left: -10px;
    width: 100%;
    border-left: 10px solid #FBFBFB;
    border-right: 10px solid #FBFBFB;
    top: 50%;
    display: block;
    height: 6px;
    content: ''; }

header {
  position: relative;
  padding: 25px; }

h1 {
  margin-top: 10px;
  text-transform: capitalize;
  font-size: 50px;
  font-weight: normal;
  text-align: center; }

h1 + .subheader {
  margin-top: -35px;
  margin-bottom: 25px; }

.subheader {
  text-align: center;
  color: #444;
  font-size: 25px; }

.grid-list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center; }
  .grid-list li {
    box-sizing: border-box;
    float: left;
    padding: 12.5px;
    width: 25%; }

@media only screen and (max-width: 950px) and (min-width: 800px) {
  .grid-list li {
    box-sizing: border-box;
    float: left;
    padding: 12.5px;
    width: 33.33333%; } }

@media only screen and (max-width: 800px) and (min-width: 600px) {
  .grid-list li {
    box-sizing: border-box;
    float: left;
    padding: 12.5px;
    width: 50%; } }

@media only screen and (max-width: 600px) {
  .grid-list li {
    box-sizing: border-box;
    float: left;
    padding: 12.5px;
    width: 100%; } }

.grid-item, .grid-result {
  padding: 0;
  margin: 0; }
  .grid-item .minibubble, .grid-result .minibubble {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 0;
    margin: 0;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.2); }
  .grid-item .content, .grid-result .content {
    height: 205px;
    display: block;
    background: white;
    border-radius: 5px;
    border: 0;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    text-align: center;
    padding: 10px 0 0 0;
    position: relative; }
    .grid-item .content:hover h3, .grid-result .content:hover h3 {
      color: #00ABD6; }
    .grid-item .content:active, .grid-result .content:active {
      border: 0;
      border-left: 1px solid #ccc;
      border-top: 1px solid #ccc; }
  .grid-item h3, .grid-result h3 {
    text-transform: uppercase;
    color: #333;
    margin-top: 5px;
    margin-bottom: 5px; }
  .grid-item .meta, .grid-result .meta {
    position: absolute;
    bottom: 0;
    border-top: 1px solid #ededed !important;
    color: #666;
    padding: 0;
    margin: 10px 0px 0 0px; }
    .grid-item .meta .meta-table, .grid-result .meta .meta-table {
      display: table;
      width: 100%;
      table-layout: fixed; }
    .grid-item .meta .meta-cell, .grid-result .meta .meta-cell {
      display: table-cell;
      border-right: 1px solid #ededed;
      padding: 5px 0; }
      .grid-item .meta .meta-cell:last-child, .grid-result .meta .meta-cell:last-child {
        border: 0; }
  .grid-item .type, .grid-result .type {
    color: #666;
    font-weight: bold;
    min-height: 40px; }
  .grid-item .top-circle, .grid-result .top-circle {
    position: relative;
    z-index: 2;
    height: 50px; }
    .grid-item .top-circle img, .grid-result .top-circle img {
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -25px;
      z-index: 3; }
    .grid-item .top-circle:before, .grid-result .top-circle:before {
      border-top: 1px solid #ededed;
      position: absolute;
      top: 50%;
      left: 15px;
      right: calc(50% + 33px);
      z-index: 1;
      content: ''; }
    .grid-item .top-circle:after, .grid-result .top-circle:after {
      border-top: 1px solid #ededed;
      position: absolute;
      top: 50%;
      left: calc(50% + 30px);
      right: 15px;
      z-index: 1;
      content: ''; }

.listItem-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
  border: 1px solid rgba(0, 0, 0, 0.03); }
  .listItem-list li {
    padding: 0;
    margin: 0; }
    .listItem-list li .list-item {
      background: rgba(255, 255, 255, 0.2); }
  .listItem-list li:nth-child(even) .list-item {
    background: rgba(0, 0, 0, 0.05); }
  .listItem-list.edit .meta {
    width: auto; }
  .listItem-list.edit .amount {
    width: auto; }

.list-item {
  width: 100%;
  padding: 0 10px;
  line-height: 50px;
  margin: 0;
  position: relative; }
  .list-item:nth-of-type(even) {
    background: rgba(0, 0, 0, 0.05); }
  .list-item:nth-of-type(odd) {
    background: rgba(255, 255, 255, 0.2); }
  .list-item input, .list-item input.name, .list-item input.amount {
    background: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(0, 0, 0, 0.1);
    height: 30px;
    line-height: 30px;
    text-align: center; }
    .list-item input:hover, .list-item input:active, .list-item input:focus, .list-item input.name:hover, .list-item input.name:active, .list-item input.name:focus, .list-item input.amount:hover, .list-item input.amount:active, .list-item input.amount:focus {
      cursor: pointer;
      background: white;
      border-color: rgba(0, 0, 0, 0.2); }
  .list-item .amount input {
    width: 50px;
    background: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(0, 0, 0, 0.1);
    height: 30px;
    line-height: 30px;
    text-align: right; }
    .list-item .amount input:hover, .list-item .amount input:active, .list-item .amount input:focus {
      cursor: pointer;
      background: white;
      border-color: rgba(0, 0, 0, 0.2); }
  .list-item select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    height: 34px;
    margin-top: -1px;
    line-height: 30px;
    padding-left: 5px;
    padding-right: 15px;
    background: transparent;
    border: 1px solid transparent;
    position: relative; }
    .list-item select:hover {
      cursor: pointer;
      background: rgba(0, 0, 0, 0.1); }
    .list-item select:after {
      position: absolute;
      right: 10px;
      top: 15px;
      width: 2000px;
      height: 1000px;
      background: red;
      z-index: 3000;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 8px solid #666;
      content: ''; }
  .list-item select::-ms-expand {
    /* for IE 11 */
    display: none; }
  .list-item .ba, .list-item .aa {
    width: 60px;
    text-align: right; }
  .list-item .name {
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-right: 20px;
    line-height: 50px;
    font-size: 120%;
    font-weight: normal; }
  .list-item .amount {
    display: inline-block;
    width: 120px;
    margin-right: 20px;
    font-size: 110%; }
    .list-item .amount input[type="text"] {
      width: 40px; }
  .list-item .lovibond {
    width: 35px; }
  .list-item .gp {
    text-align: right;
    margin-right: 0;
    width: 100px; }
  .list-item .ppg {
    width: 45px; }
  .list-item .span {
    display: inline-block;
    line-height: 50px; }
  .list-item .meta-wrapper {
    float: right; }
  .list-item .meta {
    margin-right: 20px;
    display: inline-block; }
    .list-item .meta input[type="text"] {
      width: 20px; }
    .list-item .meta.form-button {
      margin-right: 0; }
  .list-item .left-circle {
    display: inline-block;
    height: 30px;
    width: 25px;
    margin-right: 20px;
    position: relative;
    vertical-align: middle;
    text-align: center; }
  .list-item .minibubble {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -13px;
    width: 24px;
    height: 24px;
    padding: 0;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.2); }

.microbubble {
  display: inline-block;
  width: 25px;
  height: 25px;
  padding: 0;
  margin: 0;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.2); }

.minidisplay {
  font-size: 25px;
  text-transform: capitalize; }
  .minidisplay .microbubble {
    vertical-align: text-top;
    margin-right: 3px; }

.minidisplay-wrapper {
  margin: 0 auto;
  text-align: center; }

header + .minidisplay-wrapper {
  margin-top: -40px;
  margin-bottom: 50px; }

.frontpage {
  background: url("../images/background.jpg") top center;
  background-size: cover;
  background-position: bottom right; }
  .frontpage .the-content {
    padding: 50px 0;
    background: rgba(255, 255, 255, 0.9) !important;
    text-align: center;
    border: 0 !important; }
    .frontpage .the-content div {
      color: #333;
      font-size: 130%;
      text-align: justify; }
    .frontpage .the-content:before {
      display: none; }
  .frontpage .huge-call-to-action {
    padding: 200px 0;
    color: white; }
  .frontpage header {
    width: 100%;
    border-bottom: 0;
    padding: 260px 0;
    position: relative; }
    .frontpage header .header-content-wrapper {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      text-align: center;
      margin-top: -100px; }
    .frontpage header h1 {
      position: relative;
      z-index: 10;
      color: white;
      text-transform: uppercase;
      text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3); }
    .frontpage header .subheader {
      position: relative;
      z-index: 10;
      color: white;
      opacity: 0.9; }
  .frontpage .call-to-action {
    position: relative;
    z-index: 10;
    width: 250px;
    height: 50px;
    font-size: 25px;
    text-transform: uppercase;
    opacity: 0.9;
    text-align: center;
    line-height: 45px; }
    .frontpage .call-to-action:hover {
      opacity: 1; }
    .frontpage .call-to-action.create {
      color: white;
      display: block;
      margin: 25px auto;
      background: #CC2F2F;
      height: 46px;
      border: 0;
      border-bottom: 4px solid #AD2727; }
      .frontpage .call-to-action.create:hover {
        cursor: pointer; }
    .frontpage .call-to-action.discover {
      background: white; }
  .frontpage .sub-nav {
    position: relative;
    z-index: 2;
    margin-top: -10px; }
  .frontpage .the-content {
    clear: both; }

@media only screen and (max-width: 760px), (min-device-width: 200px) and (max-device-width: 1024px) {
  .frontpage header {
    margin-top: 0; } }

@-webkit-keyframes error {
  0% {
    background: transparent; }
  50% {
    background: red; }
  100% {
    background: transparent; } }

@-moz-keyframes error {
  0% {
    background: transparent; }
  50% {
    background: red; }
  100% {
    background: transparent; } }

@-o-keyframes error {
  0% {
    background: transparent; }
  50% {
    background: red; }
  100% {
    background: transparent; } }

@keyframes error {
  0% {
    background: transparent; }
  50% {
    background: red; }
  100% {
    background: transparent; } }

.login-form input {
  margin: 0 auto;
  display: block;
  margin-bottom: 25px;
  line-height: 30px;
  font-size: 130%;
  width: 290px;
  border: 1px solid #ccc;
  background: white;
  padding: 5px; }

.login-form label {
  width: 300px;
  margin: 0 auto;
  display: block;
  font-size: 90%; }

.login-form .error input, .login-form .error label {
  -webkit-animation-name: error;
  -webkit-animation-duration: 1000ms;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -o-animation-name: error;
  -o-animation-duration: 1000ms;
  -o-transform-origin: 50% 50%;
  -o-animation-iteration-count: 1;
  -o-animation-timing-function: easeout;
  -moz-animation-name: error;
  -moz-animation-duration: 1000ms;
  -moz-transform-origin: 50% 50%;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: easeout;
  animation-name: error;
  animation-duration: 1000ms;
  transform-origin: 50% 50%;
  animation-iteration-count: 1;
  animation-timing-function: easeout; }

#main-footer {
  width: 100%;
  border-top: 1px solid #ccc;
  background: white;
  color: #333;
  bottom: 0; }
  #main-footer .footer-inner-wrapper {
    margin-bottom: 0; }
  #main-footer .logo-text {
    font-family: 'Kingthings Petrock';
    font-size: 30px; }

.logo-circle {
  width: 50px;
  height: 50px;
  display: block;
  background: white;
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
  font-size: 30px;
  font-family: 'Kingthings Petrock';
  color: #333;
  margin: 0 auto; }
  .logo-circle:hover {
    background: #00ABD6;
    color: white; }
  .logo-circle:active {
    margin-top: 1px; }

.footer-content {
  margin-top: 0;
  margin-bottom: 0;
  padding: 50px 0;
  text-align: center; }
  .footer-content ul, .footer-content li {
    list-style: none;
    margin: 0;
    padding: 0; }
  .footer-content ul {
    text-align: center; }
  .footer-content li {
    display: inline-block;
    padding: 25px 5px; }
