article.login
	include ../../headline.jade
	section.login-form
		.inner-wrapper
			form( action="/login", method="POST")
				label(for="username") Username
				input(type="text" id="password" name="username" placeholder="username" value="" required)

				label(for="password") Password
				input(type="password" id="password" name="password" placeholder="password" value="" required)
				
				label(for="remember") keep logged in
				input(type="checkbox" id="remember")
					
				button(class="submit" type="submit") Login