case mode
	when 'list'
		article.hops
			include ../../headline.jade
			include ../../subnavigation.jade
		section.the-content
			include ../gridList.jade
	when 'edit'
		article.hop
			include ../../headline.jade
			include ../../subnavigation.jade
			include edit.jade
	when 'new'
		article.hop
			include ../../headline.jade
			include ../../subnavigation.jade
			include edit.jade
	default
		article.hop
			include ../../headline.jade
			include ../../subnavigation.jade
			include single.jade