h1 Are you sure?
p.center 
	| By clicking below you are permanently deleting the #{type} with id #{id}.
	br
	br
	h2 There is no way to undo this!
	br
	br
form(method="POST")
	button.submit YES, PERMANENTLY DELETE #{type} WITH ID #{id}
