.inner-wrapper
	ul.grid-list
		if results
			each result in results
				li
					case result.type
						when 'fermentable'
							include fermentables/gridItem.jade
						when 'hop'
							include hops/gridItem.jade
						when 'brewery'
							include breweries/gridItem.jade
						when 'beer'
							include beers/gridItem.jade
						when 'origin'
							include origins/gridItem.jade
						when 'beerstyle'
							include beerstyles/gridItem.jade
						when 'supplier'
							include suppliers/gridItem.jade
						when 'glass'
							include glasses/gridItem.jade
						when 'user'
							include users/gridItem.jade
						when 'yeast'
							include yeasts/gridItem.jade
						when 'other'
							include others/gridItem.jade
						default
							p No template for "#{item.type}"

	.buttonWrapper.center
		if prevPage
			a(href=prevPage, class="prev") Previous page
		if nextPage
			a(href=nextPage, class="next") Next page