article.frontpage
	header
		.header-content-wrapper
			if !user
				h1 
					| Beer brewer's home
					form(action="/search", method="GET")
						.inner-wrapper
							input(name="query" type="text" class="small" placeholder="ingredient, supplier or style")
						button(type="submit" class="call-to-action") Search
