footer#main-footer
	.footer-inner-wrapper
		section.footer-content
			strong
				span.logo-text Microbrew.it
			.links
				ul
					li
						a(href='http://github.com/microbrewit') Source
					li
						a(href='http://api.microbrew.it') API Documentation
					li
						a(href='privacyPolicy') Privacy Policy
					li
						a(href='termsOfService') Terms of Service
					//
						<li><a href="https://twitter.com/microbrewit">@microbrewit</a></li>
						<li><a href="https://www.facebook.com/Microbrewit">facebook.com/microbrewit</a></li>
			| 			Made in Bergen
			br
			| 			© 2015