header
	.header-bubble.inner-wrapper
		.icon
			.colour-box
				span(class='bubble gravity' style="display:inline-block;width:76px;height:76px;padding:0;margin:0;border-radius:50%;border:1px solid rgba(0,0,0,0.2);background: url('images/fermentable-large.png') center center;background-color: #333;background-size: contain;")
	h1 #{headline}
	if subheader
		.subheader
			span #{subheader}

