.header-bubble.inner-wrapper
	.icon
		//- mb-colour-box.colour-box(absolutecolour='212,78,0', size='76px')
		img(src='images/fermentable-large.png', alt='Malt')
h1 #{headline}
if subheader
	.subheader
		span #{subheader}