base(href='/')
meta(charset='utf-8')
title #{title}
link(rel='icon', type='image/png', href='./images/favicon.png')
link(rel='stylesheet', href='css/main.css')
meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi, user-scalable=1')