doctype html
html(lang='en', ng-app='Microbrewit')
	head
		include head.jade
	body
		include navigation.jade
		
		article(class=pageClass)

			if html
				!{html}
			else
				div Server error, missing html is undefined.
		
		include footer.jade
