case mode
	when 'list'
		article.fermentable
			include ../../headline.jade
			include ../../subnavigation.jade
			include ../list.jade
	when 'edit'
		article.fermentable
			include ../../headline.jade
			include ../../subnavigation.jade
			include edit.jade
	when 'new'
		article.fermentable
			include ../../headline.jade
			include ../../subnavigation.jade
			include edit.jade
	default
		article.fermentable
			include ../../headline.jade
			include ../../subnavigation.jade
			include single.jade