section.the-content.the-list
	.inner-wrapper
		ul.search-grid-results
			each result in results
				li
					include beers.gridItem.jade
	if prevPage
		a(href='#{prevPage}') Previous
	if nextPage
		a(href='#{nextPage}') Next