section.the-content
	.inner-wrapper
		.meta
			span.lovibond(title="Lovibond is a measure of a grain's colour.")
				| Colour: 
				strong
					| #{lovibond}°L 
					mb-colour-box.colour-box(type='lovibond', colour='#{lovibond}', size='20px')
			span.ppg(title='PPG descripbes the sugar contents of a malt')
				| PPG: 
				strong #{ppg}