article.all-fermentables
	div(ng-include="'templates/ingredients/ingredients.navigation.html'")
	section.the-content.the-list
		.inner-wrapper
			ul.search-grid-results
				each result in results
					li
						include fermentable.gridItem.jade