.grid-item
	a.content(href='suppliers/#{result.supplierId}')
		span(class='minibubble' style="background: url('#{country.getImageByName(result.origin.name)}') center center;background-size: 152%;")
		h3 #{result.name}
		.type Supplier
		.meta
			.meta-table
				.meta-cell #{result.origin.name}