article.beerstyle
	!{headline}
	section.the-content
		case mode
			when 'list'
				include ../gridList.jade
			when 'edit'
				include edit.jade
			when 'new'
				include edit.jade
			default
				include single.jade