article.beerstyles
	include ../../headline.jade
	include ../../subnavigation.jade
	case mode
		when 'list'
			section.the-content
				include ../gridList.jade
		when 'edit'
			include edit.jade
		when 'new'
			include edit.jade
		default
			include single.jade