.grid-item
	a.content(href='users/#{result.username}')
		.top-circle
			if result.gravatar
				span(class='minibubble' style="background: url('#{result.gravatar}') center center;background-size: contain;")
			else
				span(class='minibubble' style="background: url('/random/#{result.username}?size=50') center center;background-size: contain;")
		h3 #{result.username}
		.type Users
		
