.grid-item.search-grid-result
	a.content(href='users/#{item.username}')
		.top-circle
			mb-colour-box.colour-box(absolutecolour='231,200,126', size='50px')
			img(src='#{item.gravatar}', width='50', height='50', alt='Yeast')
		h3 #{item.username}
		.type Users
		