

.recipe-builder(ng-app="Microbrewit")
	.main-loading(ng-show='loading > 0', style='position:fixed;z-index:10;top:0;left:0;right:0;bottom:0;background:white;color:#333;')
		header(style='text-align:center;position:fixed;left:0;right:0;top:40%;')
			h1.logo-text Microbrew.it
			.subheader Loading...
			.spinner-icon.center

			noscript
				.warning 
					h2 Please enable Javascript
					p The Microbrew.it recipe builder uses the Angular.js framework to retrieve data from our API and calculate values in order to give you full control and instant feedback on your recipes.
					p 
						| The source code for the recipe builder is available at 
						a(href="https://github.com/microbrewit") our Github.

	.recipe
		//- div(mb-message='')
		.ui-view-container(ui-view='')
//- script(src='recipe/build.min.js', async='')
script(src='recipe/build/build.js', async='')