article.beers
	
	case mode
		when 'list'
			include ../../headline.jade
			section.the-content
				include ../gridList.jade
		when 'add'
			include add.jade
		//- when 'edit'
		//- 	include edit.jade
		//- when 'new'
		//- 	include edit.jade
		default
			include ../../headline.jade
			include single.jade