if step.ingredients
	ul.listItem-list
		each result in step.ingredients

			if (result.type === 'fermentable')
				li.fermentable
					include ../fermentables/listItem.jade

			else if (result.type === 'hop')
				li.hop
					include ../hops/listItem.jade

			else if (result.type === 'yeast')
				li.yeast
					include ../yeasts/listItem.jade

			else
				li.other
					include ../others/listItem.jade

if step.notes
	textarea.step-notes #{step.notes}
