.grid-item
	a.content(href='glasses/#{result.glassId}')
		.top-circle
			span(class='minibubble' style="background:#333;")
			img(src='images/tulip-large.png', width='50', height='50', alt='#{result.name}')
		h3 #{result.name}
		.type Glass